__pycache__
db.sqlite3
lndg/settings.py
frontend
node_modules
lndg-admin.txt
.vscode
.vs
gui/static/admin
gui/static/rest_framework
data/
container
doc
scripts
.github
.git
!scripts/entrypoint.sh
!scripts/init.sh
!scripts/suinit.sh
