django==6.1.1
djangorestframework==3.18.1
django-filter==26.1
grpcio==1.84.0
protobuf==7.36.2
pandas==3.0.6
requests==2.34.2
bech32==1.2.0
cryptography==50.0.1
paramiko==5.0.0
concurrent-log-handler==0.9.29