{% extends "base.html" %}
{% block title %} {{ block.super }} - Actions{% endblock %}
{% block content %}
{% load humanize %}
{% if action_list %}
<div class="w3-container w3-padding-small">
  <h2>Suggested Action List</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th>Peer Alias</th>
      <th>Outbound Liquidity</th>
      <th width=10%>Capacity</th>
      <th>Inbound Liquidity</th>
      <th>Unsettled</th>
      <th>oRate</th>
      <th>oBase</th>
      <th>o7D</th>
      <th>i7D</th>
      <th>iRate</th>
      <th>iBase</th>
      <th width=4%>AR</th>
      <th>Action</th>
    </tr>
    {% for channel in action_list %}
    <tr>
      <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.local_balance|intcomma }} <small class="w3-round w3-border-small w3-border-grey">{{ channel.outbound_percent }}%</small></td>
      <td>
        <label>{{channel.capacity|intcomma}}</label>
        <div class="progress w3-round w3-grey">
          <span class="value w3-round w3-blue" style="width:{{channel.outbound_percent|default:"0"}}%"></span>
        </div>
      </td>
      <td>{{ channel.remote_balance|intcomma }} <small class="w3-round w3-border-small w3-border-grey">{{ channel.inbound_percent }}%</small></td>
      <td>{{ channel.unsettled_balance|intcomma }}</td>
      <td>{{ channel.local_fee_rate|intcomma }}</td>
      <td>{{ channel.local_base_fee|intcomma }}</td>
      <td>{{ channel.o7D|intcomma }}M <small class="w3-round w3-border-small w3-border-grey">{{ channel.routed_out_7day }}</small></td>
      <td>{{ channel.i7D|intcomma }}M <small class="w3-round w3-border-small w3-border-grey">{{ channel.routed_in_7day }}</small></td>
      <td>{{ channel.remote_fee_rate|intcomma }}</td>
      <td>{{ channel.remote_base_fee|intcomma }}</td>
      <td>
        <form action="/update_channel/" method="post">
          {% csrf_token %}
          <input type="submit" value="{% if channel.auto_rebalance == True %}Disable{% else %}Enable{% endif %}">
          <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
          <input type="hidden" name="update_target" value="5">
          <input type="hidden" name="target" value="0">
        </form>
      </td>
      <td title="{{ channel.reason }}">{{ channel.output }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not action_list %}
<div class="w3-container w3-padding-small">
  <center><h1>Nothing to see here! Great job!</h1></center>
</div>
{% endif %}
{% endblock %}