{% extends "base.html" %}
{% block title %} {{ block.super }} - Advanced{% endblock %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Advanced Channel Settings</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th>Channel ID</th>
        <th>Peer Alias</th>
        <th>Capacity</th>
        <th>Outbound Liquidity</th>
        <th width=10%></th>
        <th>Inbound Liquidity</th>
        <th>oRate</th>
        <th>oBase</th>
        <th>iRate</th>
        <th>iBase</th>
        <th>Target Amt</th>
        <th>oTarget%</th>
        <th>iTarget%</th>
        <th>AR</th>
        <th>Active</th>
      </tr>
      {% for channel in channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="{{ network_links }}/{{ network }}tx/{{ channel.funding_txid }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{{ channel.alias }}</a></td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{{ channel.local_balance|intcomma }} ({{ channel.out_percent }}%)</td>
        <td><div class="w3-orange w3-round">{% if channel.in_percent == 0 %}<div class="w3-container w3-round w3-blue" style="height:16px;width:100%"></div>{% elif channel.out_percent == 0 %}<div class="w3-container w3-round w3-orange" style="height:16px;width:100%"></div>{% else %}<div class="w3-container w3-round w3-blue" style="height:16px;width:{{ channel.out_percent }}%"></div>{% endif %}</div></td>
        <td>{{ channel.remote_balance|intcomma }} ({{ channel.in_percent }}%)</td>
        <td>
          <form action="/update_target/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_fee_rate }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="1">
          </form>
        </td>
        <td>
          <form action="/update_target/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_base_fee }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="0">
          </form>
        </td>
        <td>{{ channel.remote_fee_rate|intcomma }}</td>
        <td>{{ channel.remote_base_fee|intcomma }}</td>
        <td>
          <form action="/update_target/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000000" name="target" value="{{ channel.ar_amt_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="2">
          </form>
        </td>
        <td>
            <form action="/update_target/" method="post">
              {% csrf_token %}
              <input style="text-align:center" id="target" type="number" min="0" max="100" name="target" value="{{ channel.ar_out_target }}">
              <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
              <input type="hidden" name="update_target" value="4">
            </form>
        </td>
        <td>
            <form action="/update_target/" method="post">
              {% csrf_token %}
              <input style="text-align:center" id="target" type="number" min="0" max="100" name="target" value="{{ channel.ar_in_target }}">
              <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
              <input type="hidden" name="update_target" value="3">
            </form>
        </td>
        <td>
          {% if channel.auto_rebalance == True %}
            <form action="/autorebalance/" method="post">
              {% csrf_token %}
              <input type="submit" value="Disable">
              <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            </form>
          {% else %}
            <form action="/autorebalance/" method="post">
              {% csrf_token %}
              <input type="submit" value="Enable">
              <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            </form>
          {% endif %}
        </td>
        <td>{{ channel.is_active }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if not channels %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to setup yet!</h1></center>
</div>
{% endif %}
{% endblock %}