{% extends "base.html" %}
{% block title %} {{ block.super }} - Advanced{% endblock %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Advanced Channel Settings</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable w3-tiny">
      <tr class="w3-light-grey">
        <th colspan="4" class="w3-hover-white">Channel</th>
        <th colspan="2" class="w3-hover-white">Out fee</th>
        <th colspan="3" class="w3-hover-white">Liquidity</th>
        <th colspan="2" class="w3-hover-white">HTLC</th>
        <th colspan="2" class="w3-hover-white">In fee</th>
        <th colspan="5" class="w3-hover-white" title="AR Options">AR Target</th>
      </tr>
      <tr>
        <th>State</th>
        <th>ID</th>
        <th>Peer Alias</th>
        <th>CLTV</th>
        <th>Rate</th>
        <th>Base</th>
        <th>Outbound</th>
        <th width=15%>Capacity</th>
        <th>Inbound</th>
        <th>Min</th>
        <th>Max</th>
        <th>Rate</th>
        <th>Base</th>
        <th width=5% title="When AR is ENABLED, the maximum percentage amount of the local fee rate that can be used for the max rebalancing cost.">Max Cost %</th>
        <th title="When AR is ENABLED for the channel, the size of the rebalance attempts that should be tried during attempts to refill the channel.">Amount</th>
        <th title="When AR is NOT ENABLED for the channel, keep pushing OUT the channel until its outbound liquidity falls below the oTarget%.">Out (%)</th>
        <th title="When AR is ENABLED for the channel, keep pulling IN to the channel until its inbound liquidity falls below the iTarget%.">In (%)</th>
        <th title="When AR is ENABLED it will refill the channel with outbound liquidity.">AR</th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <td title="Update all channel CLTVs">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="value" type="number" min="18" max="1000" name="value" value="">
            <input type="hidden" name="key" value="ALL-CLTV">
          </form>
        </td>
        <td title="Update all channel outgoing fee rates">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="value" type="number" min="0" max="100000" name="value" value="">
            <input type="hidden" name="key" value="ALL-oRate">
          </form>
        </td>
        <td title="Update all channel outgoing base fees">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="value" type="number" min="0" max="100000" name="value" value="">
            <input type="hidden" name="key" value="ALL-oBase">
          </form>
        </td>
        <td colspan="3"></td>
        <td title="Update all channel min HTLCs">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:100px" id="value" type="number" step="0.001" min="1" name="value" value="">
            <input type="hidden" name="key" value="ALL-minHTLC">
          </form>
        </td>
        <th colspan="3"></th>
        <td title="Update all channel AR max cost %s">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="value" type="number" min="0" max="100" name="value" value="">
            <input type="hidden" name="key" value="ALL-MaxCost">
          </form>
        </td>
        <td title="Update all channel AR amount amounts">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="value" type="number" min="0" max="100000000" name="value" value="">
            <input type="hidden" name="key" value="ALL-Amts">
          </form>
        </td>
        <td title="Update all channel AR outbound liquidity amount %s">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="value" type="number" min="0" max="100" name="value" value="">
            <input type="hidden" name="key" value="ALL-oTarget">
          </form>
        </td>
        <td title="Update all channel AR inbound liquidity amount %s">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="value" type="number" min="0" max="100" name="value" value="">
            <input type="hidden" name="key" value="ALL-iTarget">
          </form>
        </td>
        <td title="Update all channel AR enable/disable targeting">
          <form action="/update_setting/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="value" type="number" min="0" max="1" name="value" value="">
            <input type="hidden" name="key" value="ALL-AR">
          </form>
        </td>
      </tr>
      {% for channel in channels %}
      <tr title="{% if channel.is_active %}Up{% else %}Down{% endif %}time: {{ channel.last_update|naturaltime|slice:":-4" }}" {% if not channel.is_active %}style="background-color: #fadbd599"{% endif %}>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input type="submit" onmouseleave="event.target.value = '{% if channel.local_disabled %}Dis{% else %}En{% endif %}abled'" onmouseenter="event.target.value = '{% if channel.local_disabled %}En{% else %}Dis{% endif %}able'" class="w3-button w3-hover-{% if channel.local_disabled %}blue{% else %}red w3-text-green{% endif %} {% if not channel.is_active or channel.private %}w3-disabled{% endif %}" value="{% if channel.local_disabled %}Dis{% else %}En{% endif %}abled"/>
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="7">
            <input type="hidden" name="target" value="{% if channel.local_disabled == False %}0{% else %}1{% endif %}">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit" title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td style="padding: 1px;vertical-align:inherit" title="{{ channel.remote_pubkey }}">{% if channel.private == False %}<a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% endif %}{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}{% if channel.private == False %}</a>{% endif %}</td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="18" max="1000" name="target" value="{{ channel.local_cltv }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="9">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_fee_rate }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="1">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_base_fee }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="0">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit"><small>{{ channel.local_balance|intcomma }} ({{ channel.out_percent }}%)</small></td>
        <td style="padding: 1px;vertical-align:inherit"><div class="w3-orange w3-round"><p style="z-index:1;position:absolute;float:left;margin: 5px 5px">{{ channel.capacity|intword|slice:"-6"|title }}</p><div class="w3-container w3-round w3-blue" style="height:25px;{% if channel.out_percent > 0 %}width:{{ channel.out_percent|intcomma }}%{% else %}visibility:hidden{% endif %}"></div></div></td>
        <td style="padding: 1px;vertical-align:inherit"><small>{{ channel.remote_balance|intcomma }} ({{ channel.in_percent }}%)</small></td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:100px" id="target" type="number" step="0.001" min="1" name="target" value="{{ channel.local_min_htlc }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="10">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:150px" id="target" type="number" step="0.001" min="1" name="target" value="{{ channel.local_max_htlc }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="11">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit" title="Fee Ratio: {{ channel.fee_ratio }}%" {% if channel.remote_disabled == True %}style="background-color: #fadbd5"{% endif %}>{{ channel.remote_fee_rate|intcomma }}</td>
        <td style="padding: 1px;vertical-align:inherit" {% if channel.remote_disabled %}style="background-color: #fadbd5"{% endif %}>{{ channel.remote_base_fee|intcomma }}</td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_max_cost }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="6">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="1" max="100000000" name="target" value="{{ channel.ar_amt_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="2">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_out_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="4">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center;width:45px" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_in_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="3">
          </form>
        </td>
        <td style="padding: 1px;vertical-align:inherit">
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input type="submit" onmouseleave="event.target.value = '{% if channel.auto_rebalance %}En{% else %}Dis{% endif %}abled'" onmouseenter="event.target.value = '{% if channel.auto_rebalance %}Dis{% else %}En{% endif %}able'" class="w3-button w3-hover-{% if channel.auto_rebalance %}red w3-text-green{% else %}blue{% endif %}" value="{% if channel.auto_rebalance %}En{% else %}Dis{% endif %}abled"/>
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="5">
            <input type="hidden" name="target" value="0">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% else %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to setup yet!</h1></center>
</div>
{% endif %}
{% if local_settings %}
<div class="w3-container w3-padding-small">
  <h2>Local Settings</h2>
  <div class="w3-row-padding w3-container">
    {% for settings in local_settings %}
    <div class="w3-col w3-container" style="width:20%">
      <label class="w3-label" title="{{ settings.title }}">{{ settings.key }}</label>
      {% if settings.key == 'AR-Target%' %}
      <input class="w3-input" id="value" type="number" step="0.1" min="0.1" max="100" name="value" value="{{ settings.value }}">
      {% elif settings.key|slice:"-1:" == '%' or settings.key == 'AR-Variance' or settings.key == 'AF-Increment' or settings.key == 'AF-Multiplier' or settings.key == 'AF-FailedHTLCs' or settings.key == 'AR-WaitPeriod' or settings.key == 'AR-APDays' or settings.key == 'AF-UpdateHours' %}
      <input class="w3-input" id="value" type="number" min="1" max="100" name="value" value="{{ settings.value }}">
      {% elif settings.key == 'AR-Time' %}
        <input class="w3-input" id="value" type="number" min="1" max="60" name="value" value="{{ settings.value }}">
      {% elif settings.key == 'AR-MaxFeeRate' %}
        <input class="w3-input" id="value" type="number" min="1" max="2500" name="value" value="{{ settings.value }}">
      {% elif settings.key == 'AF-MaxRate' or settings.key == 'AF-MinRate' %}
        <input class="w3-input" id="value" type="number" min="0" max="5000" name="value" value="{{ settings.value }}">
      {% elif settings.key == 'LND-CleanPayments' or settings.key|slice:":3" == 'AR-' or settings.key|slice:":3" == 'AF-'%}
        <input class="w3-input" id="value" type="number" min="0" max="1" name="value" value="{{ settings.value }}">
      {% elif settings.key == 'LND-RetentionDays' %}
        <input class="w3-input" id="value" type="number" min="0" max="1000" name="value" value="{{ settings.value }}">
      {% else %}
        <input class="w3-input" id="value" type="text" name="value" value="{{ settings.value }}">
      {% endif %}
      <input type="hidden" name="key" value="{{ settings.key }}">
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
