{% extends "base.html" %}
{% block title %} {{ block.super }} - Balances{% endblock %}
{% block content %}
{% load humanize %}
{% if utxos %}
<div class="w3-container w3-padding-small">
  <h2>Balances</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th width=30%>Address</th>
      <th>Amount</th>
      <th width=40%>Outpoint</th>
      <th>Confirmations</th>
    </tr>
    {% for utxo in utxos %}
    <tr>
      <td><a href="{{ network_links }}/{{ network }}address/{{ utxo.address }}" target="_blank">{{ utxo.address }}</a></td>
      <td>{{ utxo.amount_sat|intcomma }}</td>
      <td><a href="{{ network_links }}/{{ network }}tx/{{ utxo.outpoint.txid_str }}" target="_blank">{{ utxo.outpoint.txid_str }}</a></td>
      <td>{{ utxo.confirmations|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if transactions %}
<div class="w3-container w3-padding-small">
  <h2>Transactions</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th width=35%>TX Hash</th>
      <th>Amount</th>
      <th>Block Height</th>
      <th>Fees</th>
      <th width=25%>Label</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
      <td><a href="{{ network_links }}/{{ network }}tx/{{ transaction.tx_hash }}" target="_blank">{{ transaction.tx_hash }}</a></td>
      <td>{{ transaction.amount|intcomma }}</td>
      <td>{% if transaction.block_height == 0 %}---{% else %}<a href="{{ network_links }}/{{ network }}block/{{ transaction.block_height }}" target="_blank">{{ transaction.block_height|intcomma }}</a>{% endif %}</td>
      <td>{{ transaction.fee|intcomma }}</td>
      <td>{{ transaction.label }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not utxos and not transactions %}
<div class="w3-container w3-padding-small">
  <center><h1>No wallet transactions found!</h1></center>
</div>
{% endif %}
{% endblock %}