<!DOCTYPE html>
{% load static %}
<html>
  <style>
  </style>
  <script id="api" data-token="{{csrf_token}}" src="{% static 'api.js' %}"></script>
  <script src="{% static 'sort_table.js' %}"></script>
  <script src="{% static 'dark_mode.js' %}"></script>
  <script src="{% static 'helpers.js' %}"></script>
  <script src="{% static 'qrcode.js' %}"></script>
  <head>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}LNDg{% endblock %}</title>
    {% load qr_code %}
    <link href="{% static 'w3style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body onload="applyTheme()">
    <div id="content">
      {% if messages %}
      <div id="messages" class="w3-container w3-padding-small">
        {% for message in messages %}
        <div class="w3-panel w3-orange w3-display-container w3-padding">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-display-topright">X</span>
          <h1 style="word-wrap:break-word">{{ message.message }}</h1>
          {% with sliced_msg=message.message|slice:":17" %}
            {% if sliced_msg == "Deposit Address: " or sliced_msg == "Invoice created! " %}
              {% qr_from_text message.message|slice:"17:" size="s" image_format="png" error_correction="L" %}
            {% endif %}
          {% endwith %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="w3-container">
        <h1><a href="/">My Lnd Overview</a></h1>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
  <footer>
    <div id="footer">
      <div class="w3-container w3-padding-small">
        <center><button onclick="toggleTheme()">Toggle dark mode</button></center>
      </div>
      <div class="w3-container w3-padding-small">
        <center>LNDg v1.6.1</center>
      </div>
    </div>
  </footer>
  <script>
    //BASE CONFIG
    document.querySelectorAll(".table").forEach(table =>
      table.addEventListener("scroll", function (evt) {
        const el = evt.currentTarget, sT = el.scrollTop;
        el.querySelectorAll("thead th").forEach(th => th.style.transform = sT != 0 ? 'scale(1.05, 1.2)' : 'scale(1, 1)')
      })
    )
    const modes = {'soft-encrypted': 'soft', encrypted: 'hard'}
    document.onkeypress = function (e) {
      if(e.ctrlKey && e.shiftKey && e.charCode == 5) document.body.classList.toggle("encrypted")
      else if(e.shiftKey && e.charCode == 69) document.body.classList.toggle("soft-encrypted")

      for (mode in Object.keys(modes)){
        if(document.body.classList.contains(mode)){
          document.cookie = `privacy=${modes[mode]}`
          break
        }
      }
    };
    document.addEventListener('DOMContentLoaded', async () => {
      if (document.cookie.includes("privacy=soft")) document.body.classList.toggle("soft-encrypted")
      else if (document.cookie.includes("privacy=hard")) document.body.classList.toggle("encrypted")
    })
    //END: BASE CONFIG
    //-------------------------------------------------------------------------------------------------------------------------
  </script>
</html>
