<!DOCTYPE html>
{% load static %}
<html>
  <style>
  </style>
  <script src="{% static 'api.js' %}"></script>
  <script src="{% static 'sort_table.js' %}"></script>
  <script src="{% static 'dark_mode.js' %}"></script>
  <script src="{% static 'qrcode.js' %}"></script>
  <script>const token = "{{ csrf_token }}"</script>
  <head>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}LNDg{% endblock %}</title>
    {% load qr_code %}
    <link href="{% static 'w3style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body onload="applyTheme()">
    <div id="content">
        {% if messages %}
        <div class="w3-container w3-padding-small">
          {% for message in messages %}
            <h1 class="w3-orange w3-padding-small" style="word-wrap: break-word;margin-top:15px">{{ message.message }}</h1>
            {% if message.message|slice:":17" == "Deposit Address: " or message.message|slice:":17" == "Invoice created! " %}{% qr_from_text message.message|slice:"17:" size="s" image_format="png" error_correction="L" %}{% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <div class="w3-container">
          <h1><a href="/">My Lnd Overview</a></h1>
        </div>
        {% block content %}{% endblock %}
    </div>
  </body>
  <footer>
    <div id="footer">
      <div class="w3-container w3-padding-small">
        <center><button onclick="toggleTheme()">Toggle dark mode</button></center>
      </div>
      <div class="w3-container w3-padding-small">
        <center>LNDg v1.6.0</center>
      </div>
    </div>
  </footer>
  <script>
    const modes = {'soft-encrypted': 'soft', encrypted: 'hard'}
      document.onkeypress = function (e) {
      if(e.ctrlKey && e.shiftKey && e.charCode == 5) document.body.classList.toggle("encrypted")
      else if(e.shiftKey && e.charCode == 69) document.body.classList.toggle("soft-encrypted")

      for (mode in Object.keys(modes)){
        if(document.body.classList.contains(mode)){
          document.cookie = `privacy=${modes[mode]}`
          break
        }
      }
    };
    document.addEventListener('DOMContentLoaded', () => {
      if (document.cookie.includes("privacy=soft")) document.body.classList.toggle("soft-encrypted")
      else if (document.cookie.includes("privacy=hard")) document.body.classList.toggle("encrypted")
    })


    function use(transformations){
      return { 
        fillWith(object, row = null){
          const tr = row ?? document.createElement("tr")
          for (id in transformations){
            const td = document.createElement("td")
            const transforms = transformations[id](object)
            tr.append(td)
            for(key in transforms){
              const value = transforms[key]
              if(value instanceof HTMLElement){
                td.append(value)
              }
              else if (key == 'style'){
                for(prop of Object.keys(value)){
                  td[key][prop] = value[prop]
                }
              }
              else{
                td[key] = value
              }
            }
          }
          return tr
        }
      }
    }
  </script>
</html>
