{% extends "base.html" %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Channels List</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3">7-Day Activity (Routed | Rebalanced)</th>
        <th colspan="3">30-Day Activity (Routed | Rebalanced)</th>
        <th colspan="2">Local/Outgoing Fees</th>
        <th colspan="2">Remote/Incoming Fees</th>
        <th colspan="3"> Channel Health</th>
      </tr>
      <tr>
        <th>Channel ID</th>
        <th>Peer Alias</th>
        <th>Capacity</th>
        <th>Out</th>
        <th>In</th>
        <th>Profit</th>
        <th>Out</th>
        <th>In</th>
        <th>Profit</th>
        <th width=4%>Rate</th>
        <th width=4%>Base</th>
        <th width=4%>Rate</th>
        <th width=4%>Base</th>
        <th>Updates</th>
        <th>Active</th>
        <th>Self Open</th>
      </tr>
      {% for channel in channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="https://mempool.space/{{ network }}tx/{{ channel.funding_txid }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="https://1ml.com/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{{ channel.alias }}</a></td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{{ channel.amt_routed_out_7day|intcomma }} M ({{ channel.routed_out_7day }}) | {{ channel.amt_rebal_in_7day|intcomma }} M ({{ channel.rebal_in_7day }})</td>
        <td>{{ channel.amt_routed_in_7day|intcomma }} M ({{ channel.routed_in_7day }}) | {{ channel.amt_rebal_out_7day|intcomma }} M ({{ channel.rebal_out_7day }})</td>
        <td>{{ channel.profits_7day|intcomma }}</td>
        <td>{{ channel.amt_routed_out_30day|intcomma }} M ({{ channel.routed_out_30day }}) | {{ channel.amt_rebal_in_30day|intcomma }} M ({{ channel.rebal_in_30day }})</td>
        <td>{{ channel.amt_routed_in_30day|intcomma }} M ({{ channel.routed_in_30day }}) | {{ channel.amt_rebal_out_30day|intcomma }} M ({{ channel.rebal_out_30day }})</td>
        <td>{{ channel.profits_30day|intcomma }}</td>
        <td>{{ channel.local_fee_rate|intcomma }}</td>
        <td>{{ channel.local_base_fee|intcomma }}</td>
        <td>{{ channel.remote_fee_rate|intcomma }}</td>
        <td>{{ channel.remote_base_fee|intcomma }}</td>
        <td>{{ channel.num_updates|intcomma }}</td>
        <td>{{ channel.is_active }}</td>
        <td>{{ channel.initiator }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <h2>Initial Timer: {{ initial_time }}s</h2>
  <h2>Base Timer: {{ base_data }}s</h2>
  <h2>Forwards Timer: {{ forwards_data }}s</h2>
  <h2>30d Timer: {{ loop_30d }}s</h2>
  <h2>7d Timer: {{ loop_7d }}s</h2>
  <h2>Revenue Timer: {{ revenue }}s</h2>
  <h2>Costs Timer: {{ costs }}s</h2>
  <h2>Profits Timer: {{ profits }}s</h2>
</div>
{% endif %}
{% if not channels %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to analyze yet!</h1></center>
</div>
{% endif %}
{% endblock %}