{% extends "base.html" %}
{% block title %} {{ block.super }} - Fee Rates{% endblock %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Fee Rates</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th>Channel ID</th>
        <th>Peer Alias</th>
        <th>Capacity</th>
        <th>7Day Flow</th>
        <th>Out Rate</th>
        <th>Rebal Rate</th>
        <th>Costs | Amt</th>
        <th title="Routed In">Net Flow</th>
        <th title="Revenue Out | Assisted Revenue In">Revenue</th>
        <th>30Day Flow</th>
        <th title="Routed In">Net Flow</th>
        <th title="Revenue Out | Assisted Revenue In">Revenue</th>
        <th>Suggested Rate</th>
        <th>Rate</th>
        <th>Base</th>
        <th>Rate</th>
        <th>Base</th>
      </tr>
      {% for channel in channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="{{ network_links }}/{{ network }}tx/{{ channel.funding_txid }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{{ channel.alias }}</a></td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{% if channel.net_routed_7day > 0 %}OUT{% elif channel.net_routed_7day < 0 %}IN{% else %}---{% endif %}</td>
        <td>{{ channel.out_rate }}</td>
        <td>{{ channel.rebal_ppm }}</td>
        <td>{{ channel.costs_7day }} | {{ channel.amt_rebal_in_7day }}</td>
        <td>{{ channel.net_routed_7day }}</td>
        <td>{{ channel.revenue_7day|intcomma }} | {{ channel.revenue_assist_7day|intcomma }}</td>
        <td>{% if channel.net_routed_30day > 0 %}OUT{% elif channel.net_routed_30day < 0 %}IN{% else %}---{% endif %}</td>
        <td>{{ channel.net_routed_30day }}</td>
        <td>{{ channel.revenue_30day|intcomma }} | {{ channel.revenue_assist_30day|intcomma }}</td>
        <td>{{ channel.new_rate|intcomma }}</td>
        <td>{{ channel.local_fee_rate|intcomma }}</td>
        <td>{{ channel.local_base_fee|intcomma }}</td>
        <td>{{ channel.remote_fee_rate|intcomma }}</td>
        <td>{{ channel.remote_base_fee|intcomma }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if not channels %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to analyze yet!</h1></center>
</div>
{% endif %}
{% endblock %}