{% extends "base.html" %}
{% block title %} {{ block.super }} - Fee Rates{% endblock %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Suggested Fee Rates</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th>Channel ID</th>
        <th>Peer Alias</th>
        <th>Capacity</th>
        <th>Outbound Liquidity</th>
        <th width=10%></th>
        <th>Inbound Liquidity</th>
        <th title="The value represents net flow --> (routed out - routed in) / capacity">7Day Flow</th>
        <th title="The average rate earned outgoing on this channel">Out Rate</th>
        <th title="The average rate paid for rebalances to refill this channel">Rebal Rate</th>
        <th title="When revenue > 0 --> assisted revenue / revenue">Assisted Ratio</th>
        <th>Adjustment</th>
        <th title="A suggested fee rate based on the flow pattern over the last 7 days">Suggested Rate</th>
        <th>oRate</th>
        <th>oBase</th>
        <th>Max Cost</th>
        <th>iRate</th>
        <th>iBase</th>
      </tr>
      {% for channel in channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{{ channel.alias }}</a></td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{{ channel.local_balance|intcomma }} ({{ channel.out_percent }}%)</td>
        <td><div class="w3-orange w3-round">{% if channel.in_percent == 0 %}<div class="w3-container w3-round w3-blue" style="height:16px;width:100%"></div>{% elif channel.out_percent == 0 %}<div class="w3-container w3-round w3-orange" style="height:16px;width:100%"></div>{% else %}<div class="w3-container w3-round w3-blue" style="height:16px;width:{{ channel.out_percent }}%"></div>{% endif %}</div></td>
        <td>{{ channel.remote_balance|intcomma }} ({{ channel.in_percent }}%)</td>
        <td>{% if channel.net_routed_7day > 0 %}OUT{% elif channel.net_routed_7day < 0 %}IN{% else %}---{% endif %}{% if channel.net_routed_7day != 0 %} | {{ channel.net_routed_7day }}{% endif %}</td>
        <td>{{ channel.out_rate }}</td>
        <td>{{ channel.rebal_ppm }}</td>
        <td>{{ channel.assisted_ratio }}</td>
        <td>{{ channel.adjustment }}</td>
        <td>{{ channel.new_rate|intcomma }}</td>
        <td>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_fee_rate }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="1">
          </form>
        </td>
        <td>{{ channel.local_base_fee|intcomma }}</td>
        <td>{{ channel.ar_max_cost }}%</td>
        <td>{{ channel.remote_fee_rate|intcomma }}</td>
        <td>{{ channel.remote_base_fee|intcomma }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if not channels %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to analyze yet!</h1></center>
</div>
{% endif %}
{% endblock %}