{% extends "base.html" %}
{% block title %} {{ block.super }} - Forwards{% endblock %}
{% block content %}
{% load humanize %}
{% if forwards %}
<div class="w3-container w3-padding-small">
  <h2>Last 150 Forwards</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Timestamp</th>
      <th>Amount In</th>
      <th>Amount Out</th>
      <th>Channel In Alias</th>
      <th>Channel Out Alias</th>
      <th>Channel In Id</th>
      <th>Channel Out Id</th>
      <th>Fees Earned</th>
      <th>PPM Earned</th>
    </tr>
    {% for forward in forwards %}
    <tr>
      <td title="{{ forward.forward_date }}">{{ forward.forward_date|naturaltime }}</td>
      <td>{{ forward.amt_in|intcomma }}</td>
      <td>{{ forward.amt_out|intcomma }}</td>
      <td>{{ forward.chan_in_alias }}</td>
      <td>{{ forward.chan_out_alias }}</td>
      <td><a href="/channel?={{ forward.chan_id_in }}" target="_blank">{{ forward.chan_id_in }}</a></td>
      <td><a href="/channel?={{ forward.chan_id_out }}" target="_blank">{{ forward.chan_id_out }}</a></td>
      <td>{{ forward.fee }}</td>
      <td>{{ forward.ppm|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not forwards %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any forwards yet.</h1></center>
</div>
{% endif %}
{% endblock %}