{% extends "base.html" %}
{% block title %} {{ block.super }} - Dashboard{% endblock %}
{% block meta %}<meta http-equiv="refresh" content="1260">{% endblock %}
{% block content %}
{% load humanize %}
<span style="position: absolute;top: 0;right: 0;">Dashboard Last Updated:  <span id='datetime'></span> ... refreshing every 21 minutes</span>
<div class="w3-container w3-padding-small">
  <script language="Javascript">
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
    function qr_gen(addr){
      var qrcode = new QRCode(document.getElementById('qrcode'), {text:addr, width:256, height:256})
      document.getElementById('qrcode').style.display = 'block'
    }
    function qr_clear(){
      document.getElementById('qrcode').replaceChildren()
      document.getElementById('qrcode').style.display = 'none'
    }
  </script>
  <h3><a href="{{ graph_links }}/{{ network }}node/{{ node_info.identity_pubkey }}" target="_blank">{{ node_info.alias }}</a> | {{ node_info.identity_pubkey }}</h3>
  <h6>
    <span class="w3-tag w3-round w3-{% if node_info.synced_to_graph %}green{% else %}red{% endif %}" title="{% if not node_info.synced_to_graph %}Not {% endif %}Synced">LND</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-{% if node_info.synced_to_chain %}green{% else %}red{% endif %}" title="{% if not node_info.synced_to_chain %}Not {% endif %}Synced">{% for info in node_info.chains %}{{ info }}{% endfor %} | {{ node_info.block_height }} #{{ node_info.block_hash }}</span>
  </h6>
  <h6>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Public Capacity: {{ total_capacity|intcomma }}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Active Channels: {{ active_count }} / {{ total_channels }}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey"><a href="/peers" target="_blank">Peers</a>: {{ node_info.num_peers }}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">DB Size: {% if db_size > 0 %}{{ db_size }} GB{% else %}---{% endif %}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Total States Updates: {% if num_updates > 0 %}{{ num_updates|intcomma }} {% else %}---{% endif %}</span>
    <span style="padding:1.5px 8px;margin-left:4px" class="w3-round w3-border w3-border-grey"><a href="#sign">Sign a message</a></span>
  </h6>
  {% if total_private > 0 %}
  <h6>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Private Capacity: {{ private_capacity|intcomma }}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Locked Liquidity: {{ private_outbound|intcomma }}</span>
    <span style="padding:1.5px 8px;" class="w3-round w3-border w3-border-grey">Active Private Channels: {{ active_private }} / {{ total_private }}</span>
  </h6>
  {% endif %}
  Addresses: 
  {% for addr in node_info.uris %}
  <div class="w3-container" style="height:40px">
    <text readonly style="word-wrap: break-word;vertical-align:top;">{{ addr }}</text>
    <a href="#." data-value="{{addr}}" onclick="toogle(this)" onmouseleave="qr_clear()" onmouseenter="qr_gen('{{ addr }}');">
      <svg style="height:30px;width:30px;transform:matrix(1, 0, 0, 1, 4, 3)" version="1.1" >
        <path style="" fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path>
        <path style="" fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path>
      </svg>
      <svg style="height:30px;width:30px;visibility:collapse;transform:matrix(1, 0, 0, 1, -30, 3);" version="1.1" >
        <path style="fill:#3fb950;stroke:#3fb950;" fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path>
      </svg>
    </a>
    <div style="display: none; position: absolute; top: 30px; right: 30px; padding: 30px; background: white" id="qrcode"></div>
  </div>
  {% endfor %}
</div>
<div class="w3-row w3-container w3-padding-small" >
  <table class="w3-col w3-small w3-table-all w3-centered w3-hoverable" style="min-width:300px;width:25%">
    <tr>
      <th title="Total Inbound/Total Outbound">Ratio: {{ liq_ratio }}%</h>
      <th>Inbound</th>
      <th>Outbound</th>
      <th>Unsettled</th>
    </tr>
    <tr>
      <th>Active</th>
      <td>{{ inbound|intcomma }}</td>
      <td>{{ outbound|intcomma }}</td>
      <td>{{ unsettled|intcomma }}</td>
    </tr>
    <tr>
      <th>Inactive</th>
      <td>{{ inactive_inbound|intcomma }}</td>
      <td>{{ inactive_outbound|intcomma }}</td>
      <td>{{ inactive_unsettled|intcomma }}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{ sum_inbound|intcomma }}</td>
      <td>{{ sum_outbound|intcomma }}</td>
      <td>{{ total_unsettled|intcomma }}</td>
    </tr>
  </table>
  <table class="w3-col w3-small w3-table-all w3-centered w3-hoverable" style="min-width:1000px;width:75%">
    <thead>
      <tr>
        <th class="w3-border-bottom w3-border-right"><a href="/balances" target="_blank">Balance</a>: {{ total_balance|intcomma }}</th>
        <th class="w3-border-bottom w3-border-right">Onchain: {{ balances.total_balance|intcomma }}</th>
        <th class="w3-border-bottom w3-border-right">Confirmed: {{ balances.confirmed_balance|intcomma }}</th>
        <th class="w3-border-bottom w3-border-right">Unconfirmed: {{ balances.unconfirmed_balance|intcomma }}</th>
        <th class="w3-border-bottom w3-border-right">Limbo: {{ limbo_balance|intcomma }} </th>
        <th class="w3-border-bottom w3-border-right"><a href="/pending_htlcs" target="_blank">Pending HTLCs</a>: {{ pending_htlc_count }}</th>
        <th class="w3-border-bottom">
          <form method="post" action="/newaddress/">
            {% csrf_token %}
            <a href="#" onclick="event.target.parentElement.submit()">New Onchain Address</a>
          </form>
        </th>
      </tr>
    </thead>
    <tr>
      <th>Period</th>
      <th>Routed</th>
      <th>Fees earned | paid</th>
      <th>Offchain fees</th>
      <th>Cost (%)</th>
      <th title="Profit made per outbound [profit per outbound including onchain fees]">Profit/Outbound</th>
      <th>Outbound Utilization</th>
    </tr>
    <tr>
      <td>1-Day</td>
      <td>{{ routed_1day|intcomma }} ({{ routed_1day_amt|intcomma }} sats)</td>
      <td>{{ earned_1day|intcomma }} [{{ 1day_routed_ppm|intcomma }}] | {{ total_1day_fees|intcomma }} [{{ 1day_payments_ppm|intcomma }}]</td>
      <td>{{ onchain_costs_1day|intcomma }}</td>
      <td>{{ percent_cost_1day }}%</td>
      <td>{{ profit_per_outbound_1d|intcomma }} [{{ profit_per_outbound_real_1d|intcomma }}]</td>
      <td>{{ routed_1day_percent }}%</td>
    </tr>
    <tr>
      <td>7-Day</td>
      <td>{{ routed_7day|intcomma }} ({{ routed_7day_amt|intcomma }} sats)</td>
      <td>{{ earned_7day|intcomma }} [{{ 7day_routed_ppm|intcomma }}] | {{ total_7day_fees|intcomma }} [{{ 7day_payments_ppm|intcomma }}]</td>
      <td>{{ onchain_costs_7day|intcomma }}</td>
      <td>{{ percent_cost_7day }}%</td>
      <td>{{ profit_per_outbound_7d|intcomma }} [{{ profit_per_outbound_real_7d|intcomma }}]</td>
      <td>{{ routed_7day_percent }}%</td>
    </tr>
  </table>
</div>
<br/>
<div class="w3-bar w3-border-top" style="background-color: transparent">
  <a class="w3-bar-item w3-hover-blue" href="/income" target="_blank">P&L</a>
  <a class="w3-bar-item w3-hover-blue" href="/closures" target="_blank">Closures</a> 
  <a class="w3-bar-item w3-hover-blue" href="/opens" target="_blank">New Peers</a>
  <a class="w3-bar-item w3-hover-blue" href="/peerevents" target="_blank">Peer Events</a>
  <a class="w3-bar-item w3-hover-blue" href="/actions" target="_blank">AR Actions</a> 
  <a class="w3-bar-item w3-hover-blue" href="/fees" target="_blank">Fee Rates</a>
  <a class="w3-bar-item w3-hover-blue" href="/autopilot" target="_blank">Autopilot</a>
  <a class="w3-bar-item w3-hover-blue" href="/autofees" target="_blank">Fee Log</a>
  <a class="w3-bar-item w3-hover-blue" href="/channels" target="_blank">Channel Performance</a>
  <a class="w3-bar-item w3-hover-blue" href="/keysends" target="_blank">Keysends</a>
  <a class="w3-bar-item w3-hover-blue" href="/rebalancing" target="_blank">Rebalancing</a>
  <a class="w3-bar-item w3-hover-blue" href="/towers" target="_blank">Towers</a>
  <a class="w3-bar-item w3-hover-blue" href="/batch" target="_blank">Batching</a>
  <a class="w3-bar-item w3-hover-blue" href="/advanced" target="_blank">Advanced Settings</a>
</div>
{% if active_channels %}
<div class="w3-container w3-padding-small">
  <h2>Active Channels</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table id="activeChannels" class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th onclick="sortTable(event.target, 0, 'String', 0, 'a')">Channel ID</th>
        <th onclick="sortTable(event.target, 1, 'String', 0, 'a')">Peer Alias</th>
        <th onclick="sortTable(event.target, 2, ' (')">Outbound Liquidity</th>
        <th onclick="sortTable(event.target, 3, 'int', 0, 'label')">Capacity</th>
        <th onclick="sortTable(event.target, 4, ' (')">Inbound Liquidity</th>
        <th onclick="sortTable(event.target, 5, ' (')">Unsettled</th>
        <th onclick="sortTable(event.target, 6, 'int')">oRate</th>
        <th onclick="sortTable(event.target, 7, 'int')">oBase</th>
        <th onclick="sortTable(event.target, 8, ' m (')">o1D</th>
        <th onclick="sortTable(event.target, 9, ' m (')">i1D</th>
        <th onclick="sortTable(event.target, 10, ' m (')">o7D</th>
        <th onclick="sortTable(event.target, 11, ' m (')">i7D</th>
        <th onclick="sortTable(event.target, 12, 'int')">iRate</th>
        <th onclick="sortTable(event.target, 13, 'int')">iBase</th>
        <th title="When AR is ENABLED for the channel, keep pulling IN to the channel until its inbound liquidity falls below the iTarget%." width=4%>iTarget%</th>
        <th title="When AR is ENABLED it will refill the channel with outbound liquidity." width=4%>AR</th>
      </tr>
      {% for channel in active_channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
        <td>{{ channel.local_balance|intcomma }} ({{ channel.outbound_percent }}%)</td>
        <td>
          <label>{{channel.capacity|intcomma}}</label>
          <div class="progress w3-round w3-grey">
            <span class="value w3-round w3-blue" style="width:{{channel.outbound_percent|default:"0"}}%"></span>
          </div>
        </td>
        <td>{{ channel.remote_balance|intcomma }} ({{ channel.inbound_percent }}%)</td>
        <td>{{ channel.unsettled_balance|intcomma }} ({{ channel.htlc_count }})</td>
        <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_fee_rate|intcomma }}</td>
        <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_base_fee|intcomma }}</td>
        <td>{{ channel.amt_routed_out_1day|intcomma }} M ({{ channel.routed_out_1day }})</td>
        <td>{{ channel.amt_routed_in_1day|intcomma }} M ({{ channel.routed_in_1day }})</td>
        <td>{{ channel.amt_routed_out_7day|intcomma }} M ({{ channel.routed_out_7day }})</td>
        <td>{{ channel.amt_routed_in_7day|intcomma }} M ({{ channel.routed_in_7day }})</td>
        <td {% if channel.remote_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.remote_fee_rate|intcomma }}</td>
        <td {% if channel.remote_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.remote_base_fee|intcomma }}</td>
        <td>
          {% if channel.auto_rebalance == True %}
            <form action="/update_channel/" method="post">
              {% csrf_token %}
              <input style="text-align:center" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_in_target }}" onChange="Sync.PUT('channels/{{ channel.chan_id }}', {body: {ar_in_target: this.value}}, r => flash(this, r.ar_in_target));">
              <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
              <input type="hidden" name="update_target" value="3">
            </form>
          {% else %}
            ---
          {% endif %}
        </td>
        <td>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input type="submit" value="{% if channel.auto_rebalance == True %}Disable{% else %}Enable{% endif %}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="5">
            <input type="hidden" name="target" value="0">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if inactive_channels %}
<div class="w3-container w3-padding-small">
  <h2>Inactive Channels</h2>
  <table id="inactiveChannels" class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th onclick="sortTable(event.target, 0, 'String')">Channel ID</th>
      <th onclick="sortTable(event.target, 1, 'String', 0, 'a')">Peer Alias</th>
      <th onclick="sortTable(event.target, 2, ' (')" width=9%>Outbound Liquidity</th>
      <th onclick="sortTable(event.target, 3, 'int', 0, 'label')">Capacity</th>
      <th onclick="sortTable(event.target, 4, ' (')" width=9%>Inbound Liquidity</th>
      <th onclick="sortTable(event.target, 5, ' (')" width=6%>Unsettled</th>
      <th onclick="sortTable(event.target, 6, 'int')" width=4%>oRate</th>
      <th onclick="sortTable(event.target, 7, 'int')" width=4%>oBase</th>
      <th onclick="sortTable(event.target, 8, 'int')" width=4%>iRate</th>
      <th onclick="sortTable(event.target, 9, 'int')" width=4%>iBase</th>
      <th width=5%>Local Commit</th>
      <th width=5%>Local Reserve</th>
      <th width=5%>Downtime</th>
      <th width=5%>Opener</th>
      <th width=4%>iTarget%</th>
      <th width=4%>AR</th>
    </tr>
    {% for channel in inactive_channels %}
    <tr>
      <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>
        <label>{{channel.capacity|intcomma}}</label>
        <div class="progress w3-round w3-grey">
          <span class="value w3-round w3-blue" style="width:{{channel.outbound_percent|default:"0"}}%"></span>
        </div>
      </td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td>{{ channel.unsettled_balance|intcomma }}</td>
      <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_fee_rate|intcomma }}</td>
      <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_base_fee|intcomma }}</td>
      <td {% if channel.remote_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.remote_fee_rate|intcomma }}</td>
      <td {% if channel.remote_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.remote_base_fee|intcomma }}</td>
      <td>{{ channel.local_commit|intcomma }}</td>
      <td>{{ channel.local_chan_reserve|intcomma }}</td>
      <td title="{{ channel.last_update }}">{{ channel.last_update|naturaltime|slice:":-4" }}</td>
      <td>{% if channel.initiator == True %}Local{% else %}Remote{% endif %}</td>
      <td>
        {% if channel.auto_rebalance == True %}
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_in_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="3">
          </form>
        {% else %}
          ---
        {% endif %}
      </td>
      <td>
        <form action="/update_channel/" method="post">
          {% csrf_token %}
          <input type="submit" value="{% if channel.auto_rebalance == True %}Disable{% else %}Enable{% endif %}">
          <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
          <input type="hidden" name="update_target" value="5">
          <input type="hidden" name="target" value="0">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if private_channels %}
<div class="w3-container w3-padding-small">
  <h2>Private Channels</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th>Peer Alias</th>
      <th width=9%>Outbound Liquidity</th>
      <th>Capacity</th>
      <th width=9%>Inbound Liquidity</th>
      <th width=6%>Unsettled</th>
      <th width=4%>oRate</th>
      <th width=4%>oBase</th>
      <th width=4%>oLife</th>
      <th width=4%>iLife</th>
      <th width=5%>Local Commit</th>
      <th width=5%>Local Reserve</th>
      <th width=5%>Opener</th>
      <th width=5%>Up/Down</th>
    </tr>
    {% for channel in private_channels %}
    <tr>
      <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>
        <label>{{channel.capacity|intcomma}}</label>
        <div class="progress w3-round w3-grey">
          <span class="value w3-round w3-blue" style="width:{{channel.outbound_percent|default:"0"}}%"></span>
        </div>
      </td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td>{{ channel.unsettled_balance|intcomma }}</td>
      <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_fee_rate|intcomma }}</td>
      <td {% if channel.local_disabled == True %}style="background-color: rgba(248,81,73,0.15);"{% endif %}>{{ channel.local_base_fee|intcomma }}</td>
      <td>{{ channel.total_sent|intcomma }}</td>
      <td>{{ channel.total_received|intcomma }}</td>
      <td>{{ channel.local_commit|intcomma }}</td>
      <td>{{ channel.local_chan_reserve|intcomma }}</td>
      <td>{% if channel.initiator == True %}Local{% else %}Remote{% endif %}</td>
      <td {% if channel.is_active == True %}style="background-color: rgba(56,139,253,0.15)"{% else %}style="background-color: rgba(248,81,73,0.15)"{% endif %} title="{{ channel.last_update }}">{{ channel.last_update|naturaltime|slice:":-4" }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if pending_open %}
<div class="w3-container w3-padding-small">
  <h2>Pending Open Channels</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Peer Alias</th>
      <th width=20%>Channel Point</th>
      <th>Capacity</th>
      <th>Local Balance</th>
      <th>Remote Balance</th>
      <th>AF</th>
      <th>Fee Rate</th>
      <th>Base Fee</th>
      <th>CLTV</th>
      <th>Amt</th>
      <th>Max Cost%</th>
      <th>oTarget%</th>
      <th>iTarget%</th>
      <th>AR</th>
    </tr>
    {% for channel in pending_open %}
    <tr>
      <td title="{{ channel.remote_node_pub }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_node_pub }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_node_pub|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td><a href='{{ network_links }}/{{ network }}tx/{{ channel.funding_txid }}' target="_blank">{{ channel.channel_point }}</a></td>
      <td title="Commit Fee: {{ channel.commit_fee }}">{{ channel.capacity|intcomma }}</td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td {% if channel.auto_fees == False %}style="background-color: rgba(46,160,67,0.15);"{% else %}style="background-color: rgba(248,81,73,0.15)"{% endif %}>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input type="submit" value="{% if channel.auto_fees == True %}Disable{% else %}Enable{% endif %}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="8">
          <input type="hidden" name="target" value="0">
        </form>
      </td>
      <td>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_fee_rate }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="1">
        </form>
      </td>
      <td>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="0" max="100000" name="target" value="{{ channel.local_base_fee }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="0">
        </form>
      </td>
      <td>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="18" max="1000" name="target" value="{{ channel.local_cltv }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="9">
        </form>
      </td>
      <td>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="1" max="100000000" name="target" value="{{ channel.ar_amt_target }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="2">
        </form>
      </td>
      <td>
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_max_cost }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="6">
        </form>
      </td>
      <td style="background-color: {% if channel.auto_rebalance == False %}rgba(248,81,73,0.15){% else %}rgba(46,160,67,0.15){% endif %}">
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_out_target }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="4">
        </form>
      </td>
      <td style="background-color: {% if channel.auto_rebalance == True %}rgba(46,160,67,0.15){% else %}rgba(248,81,73,0.15){% endif %}">
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input style="text-align:center" id="target" type="number" min="1" max="100" name="target" value="{{ channel.ar_in_target }}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="3">
        </form>
      </td>
      <td style="background-color: {% if channel.auto_rebalance == True %}rgba(46,160,67,0.15){% else %}rgba(248,81,73,0.15){% endif %}">
        <form action="/update_pending/" method="post">
          {% csrf_token %}
          <input type="submit" value="{% if channel.auto_rebalance == True %}Disable{% else %}Enable{% endif %}">
          <input type="hidden" name="funding_txid" value="{{ channel.funding_txid }}">
          <input type="hidden" name="output_index" value="{{ channel.output_index }}">
          <input type="hidden" name="update_target" value="5">
          <input type="hidden" name="target" value="0">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if pending_closed %}
<div class="w3-container w3-padding-small">
  <h2>Pending Close Channels</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th>Peer Alias</th>
      <th>Capacity</th>
      <th>Local Balance</th>
      <th>Remote Balance</th>
      <th>Balance In Limbo</th>
      <th>Local Commit Fee</th>
      <th width=20%>Closing TX</th>
    </tr>
    {% for channel in pending_closed %}
    <tr>
      <td title="{{ channel.channel_point }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_node_pub }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_node_pub }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_node_pub|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.capacity|intcomma }}</td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td>{{ channel.limbo_balance|intcomma }}</td>
      <td>{{ channel.local_commit_fee_sat|intcomma }}</td>
      <td><a href='{{ network_links }}/{{ network }}tx/{{ channel.closing_txid }}' target="_blank">{{ channel.closing_txid }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if pending_force_closed %}
<div class="w3-container w3-padding-small">
  <h2>Pending Force Close Channels</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th>Peer Alias</th>
      <th>Capacity</th>
      <th>Local Balance</th>
      <th>Remote Balance</th>
      <th>Balance In Limbo</th>
      <th>Maturity</th>
      <th width=20%>Closing TX</th>
    </tr>
    {% for channel in pending_force_closed %}
    <tr>
      <td title="{{ channel.channel_point }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_node_pub }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_node_pub }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_node_pub|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.capacity|intcomma }}</td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td>{{ channel.limbo_balance|intcomma }}</td>
      <td title="Blocks: {{ channel.blocks_til_maturity|intcomma }}">{{ channel.maturity_datetime|naturaltime }}</td>
      <td><a href='{{ network_links }}/{{ network }}tx/{{ channel.closing_txid }}' target="_blank">{{ channel.closing_txid }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if waiting_for_close %}
<div class="w3-container w3-padding-small">
  <h2>Channels Waiting To Close</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th>Peer Alias</th>
      <th>Capacity</th>
      <th>Local Balance</th>
      <th>Remote Balance</th>
      <th>Balance In Limbo</th>
      <th>Local Commit Fee</th>
      <th width=20%>Closing TX</th>
    </tr>
    {% for channel in waiting_for_close %}
    <tr>
      <td title="{{ channel.channel_point }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.short_chan_id }}</a></td>
      <td title="{{ channel.remote_node_pub }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_node_pub }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_node_pub|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
      <td>{{ channel.capacity|intcomma }}</td>
      <td>{{ channel.local_balance|intcomma }}</td>
      <td>{{ channel.remote_balance|intcomma }}</td>
      <td>{{ channel.limbo_balance|intcomma }}</td>
      <td>{{ channel.local_commit_fee_sat|intcomma }}</td>
      <td><a href='{{ network_links }}/{{ network }}tx/{{ channel.closing_txid }}' target="_blank">{{ channel.closing_txid }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if forwards %}
<div class="w3-container w3-padding-small">
  <h2>Last 10  <a href="/forwards" target="_blank">Payments Routed</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Timestamp</th>
      <th>Amount In</th>
      <th>Amount Out</th>
      <th>Channel In Alias</th>
      <th>Channel Out Alias</th>
      <th>Channel In Id</th>
      <th>Channel Out Id</th>
      <th>Fees Earned</th>
      <th>PPM Earned</th>
    </tr>
    {% for forward in forwards %}
    <tr>
      <td title="{{ forward.forward_date }}">{{ forward.forward_date|naturaltime }}</td>
      <td>{{ forward.amt_in|intcomma }}</td>
      <td>{{ forward.amt_out|intcomma }}</td>
      <td>{% if forward.chan_in_alias == '' %}---{% else %}{{ forward.chan_in_alias }}{% endif %}</td>
      <td>{% if forward.chan_out_alias == '' %}---{% else %}{{ forward.chan_out_alias }}{% endif %}</td>
      <td><a href="/channel?={{ forward.chan_id_in }}" target="_blank">{{ forward.chan_id_in }}</a></td>
      <td><a href="/channel?={{ forward.chan_id_out }}" target="_blank">{{ forward.chan_id_out }}</a></td>
      <td>{{ forward.fee|intcomma }}</td>
      <td>{{ forward.ppm|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% with elegible_str=eligible_count|intcomma enabled_str=enabled_count|intcomma available_str=available_count|intcomma %}
  {% with title='<a href="/rebalances" target="_blank">Rebalance Requests</a> (currently scheduling '|add:elegible_str|add:" of "|add:enabled_str|add:" enabled channels for rebalancing via "|add:available_str|add:" outbound channels)" %}
    {% autoescape off %}
      {% include 'rebalances_table.html' with count=10 title=title %}
    {% endautoescape %}
  {% endwith %}
{% endwith %}
{% if payments %}
<div class="w3-container w3-padding-small">
  <h2>Last 5 <a href="/payments" target="_blank">Payments Sent</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Timestamp</th>
      <th width=28%>Hash</th>
      <th width=6%>Value</th>
      <th width=6%>Fee Paid</th>
      <th width=6%>PPM Paid</th>
      <th width=6%>Status</th>
      <th width=12%>Chan Out Alias</th>
      <th width=12%>Chan Out ID</th>
      <th width=4%>Route</th>
      <th width=6%>Keysend</th>
    </tr>
    {% for payment in payments %}
    <tr>
      <td title="{{ payment.creation_date }}">{{ payment.creation_date|naturaltime }}</td>
      <td><a href="/route?={{ payment.payment_hash }}" target="_blank">{{ payment.payment_hash }}</a></td>
      <td>{{ payment.value|add:"0"|intcomma }}</td>
      <td>{{ payment.fee|intcomma }}</td>
      <td>{{ payment.ppm|intcomma }}</td>
      <td>{% if payment.status == 1 %}In-Flight{% elif payment.status == 2 %}Succeeded{% elif payment.status == 3 %}Failed{% else %}{{ payment.status }}{% endif %}</td>
      <td>{% if payment.status == 2 %}{% if payment.chan_out_alias == '' %}---{% else %}{{ payment.chan_out_alias }}{% endif %}{% else %}---{% endif %}</td>
      <td>{% if payment.status == 2 %}{% if payment.chan_out != 'MPP' %}<a href="/channel?={{ payment.chan_out }}" target="_blank">{{ payment.chan_out }}</a>{% else %}{{ payment.chan_out }}{% endif %}{% else %}---{% endif %}</td>
      <td>{% if payment.status == 2 %}<a href="/route?={{ payment.payment_hash }}" target="_blank">Open</a>{% else %}---{% endif %}</td>
      <td title="{{ payment.message }}">{% if payment.keysend_preimage != None %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if invoices %}
<div class="w3-container w3-padding-small">
  <h2>Last 5 <a href="/invoices" target="_blank">Payments Received</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Created</th>
      <th>Settled</th>
      <th width=25%>Payment Hash</th>
      <th>Value</th>
      <th>Amount Paid</th>
      <th>State</th>
      <th>Channel In Alias</th>
      <th width=10%>Channel In</th>
      <th><a href="/keysends" target="_blank">Keysend</a></th>
    </tr>
    {% for invoice in invoices %}
    <tr>
      <td title="{{ invoice.creation_date }}">{{ invoice.creation_date|naturaltime }}</td>
      <td title="{{ invoice.settle_date }}">{% if invoice.state == 1 %}{{ invoice.settle_date|naturaltime }}{% else %}---{% endif %}</td>
      <td><a href="/route?={{ invoice.r_hash }}" target="_blank">{{ invoice.r_hash }}</td>
      <td>{{ invoice.value|add:"0"|intcomma }}</td>
      <td>{% if invoice.state == 1 %}{{ invoice.amt_paid|intcomma }}{% else %}---{% endif %}</td>
      <td>{% if invoice.state == 0 %}Open{% elif invoice.state == 1 %}Settled{% elif invoice.state == 2 %}Canceled{% else %}{{ invoice.state }}{% endif %}</td>
      <td>{% if invoice.state == 1 %}{% if invoice.chan_in_alias == '' %}---{% else %}{{ invoice.chan_in_alias }}{% endif %}{% else %}---{% endif %}</td>
      <td>{% if invoice.state == 1 and invoice.chan_in != None %}<a href="/channel?={{ invoice.chan_in }}" target="_blank">{{ invoice.chan_in }}</a>{% else %}---{% endif %}</td>
      <td title="{{ invoice.message }}">{% if invoice.keysend_preimage != None %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if failed_htlcs %}
<div class="w3-container w3-padding-small">
  <h2>Last 10 <a href="/failed_htlcs" target="_blank">Failed HTLCs</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Timestamp</th>
      <th>Chan In ID</th>
      <th>Chan Out ID</th>
      <th>Chan In Alias</th>
      <th>Chan Out Alias</th>
      <th>Forward Amount</th>
      <th>Actual Outbound</th>
      <th>Potential Fee</th>
      <th>HTLC Failure</th>
      <th>Failure Detail</th>
    </tr>
    {% for failed_htlc in failed_htlcs %}
    <tr>
      <td title="{{ failed_htlc.timestamp }}">{{ failed_htlc.timestamp|naturaltime }}</td>
      <td><a href="/channel?={{ failed_htlc.chan_id_in }}" target="_blank">{{ failed_htlc.chan_id_in }}</a></td>
      <td><a href="/channel?={{ failed_htlc.chan_id_out }}" target="_blank">{{ failed_htlc.chan_id_out }}</a></td>
      <td><a href="/failed_htlcs?={{ failed_htlc.chan_id_in }}_I" target="_blank">{% if failed_htlc.chan_in_alias == '' %}---{% else %}{{ failed_htlc.chan_in_alias }}{% endif %}</a></td>
      <td><a href="/failed_htlcs?={{ failed_htlc.chan_id_out }}_O" target="_blank">{% if failed_htlc.chan_out_alias == '' %}---{% else %}{{ failed_htlc.chan_out_alias }}{% endif %}</a></td>
      <td>{{ failed_htlc.amount|intcomma }}</td>
      <td>{{ failed_htlc.chan_out_liq|intcomma }} ({{ failed_htlc.chan_out_pending|intcomma }})</td>
      <td>{{ failed_htlc.missed_fee|intcomma }}</td>
      <td>{% if failed_htlc.wire_failure == 11 %}Amount Below Minimum{% elif failed_htlc.wire_failure == 12 %}Fee Insufficient{% elif failed_htlc.wire_failure == 15 %}Temporary Channel Failure{% elif failed_htlc.wire_failure == 18 %}Unknown Next Peer{% elif failed_htlc.wire_failure == 22 %}Expiry Too Far{% else %}{{ failed_htlc.wire_failure }}{% endif %}</td>
      <td>{% if failed_htlc.failure_detail == 1 %}---{% elif failed_htlc.failure_detail == 5 %}HTLC Exceeds Max{% elif failed_htlc.failure_detail == 6 %}Insufficient Balance{% elif failed_htlc.failure_detail == 13 %}Invoice Not Open{% elif failed_htlc.failure_detail == 20 %}Invalid Keysend{% elif failed_htlc.failure_detail == 22 %}Circular Route{% else %}{{ failed_htlc.failure_detail }}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% include 'local_settings.html' with settings=local_settings title="Auto-Rebalancer" url='rebalancing' %}
<div class="w3-container w3-padding-small">
  <h2>Connect to a Peer</h2>
  <div class="w3-container w3-padding-small">
    <form action="/connectpeer/" method="post">
      {% csrf_token %}
      <input style="min-width:70%" placeholder="PK or PK@host:port" id="peer_id" type="text" name="peer_id">
      <input type="submit" value="OK">
    </form>
  </div>
</div>
<div class="w3-container w3-padding-small">
  <h2>Open a Channel</h2>
  <div class="w3-container w3-padding-small">
    <form action="/openchannel/" method="post">
      {% csrf_token %}
      <span class="input" style="width:55%">
        <input style="width:100%" placeholder="Public Key" id="peer_pubkey" type="text" name="peer_pubkey">
      </span>
      <span class="input" data-unit="sats">
        <input id="local_amt" placeholder="0" type="number" name="local_amt">
      </span>
      <span class="input" data-unit="sats/vbyte" title="Opening tx fee">
        <input id="sat_per_byte" placeholder="0" type="number" min="1" name="sat_per_byte">
      </span>
      <input type="submit" value="OK">
    </form>
  </div>
</div>
<div class="w3-container w3-padding-small">
  <h2>Close a Channel</h2>
  <div class="w3-container w3-padding-small">
    <form action="/closechannel/" method="post">
      {% csrf_token %}
      <span class="input">
        <input placeholder="Channel ID" id="chan_id" type="text" name="chan_id">
      </span>
      <div class="input" data-unit="sats/vbyte" title="Closing tx fee">
        <input id="target_fee" placeholder="0" type="number" min="1" name="target_fee">
      </div>
      <label style="top:-4px;position:relative" title="Force Close" for="force">FC</label>
      <input class="w3-check" id="force" style="top:2px" title="Force Close?" type="checkbox" name="force">
      <input type="submit" style="position:relative;top:-4px" value="OK">
    </form>
  </div>
</div>
<div class="w3-container w3-padding-small">
  <h2>Create Invoice</h2>
  <div class="w3-container w3-padding-small">
    <form action="/createinvoice/" method="post">
      {% csrf_token %}
      <span class="input" data-unit="sats">
        <input placeholder="0" id="value" type="number" name="value">
      </span>
      <input type="submit" value="OK">
    </form>
  </div>
</div>
<div class="w3-container w3-padding-small">
  <h2>Sign a Message</h2>
  <div class="w3-container w3-padding-small">
    <form action="/sign_message/" method="post">
      {% csrf_token %}
      <input placeholder="Message" id="sign" style="min-width:800px" id="value" type="text" name="msg">
      <input type="submit" value="OK">
    </form>
  </div>
</div>
{% endblock %}
