<!DOCTYPE html>
<html>
  <style>
  </style>
  <head>
    {% load static %}
    {% load humanize %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>My Lnd Overview</h1>
    <br></br>
    <h3>Total Wallet Balance: {{ balances.total_balance|intcomma }}</h3>
    <h3>Confirmed Wallet Balance: {{ balances.confirmed_balance|intcomma }}</h3>
    <h3>Total Payments Made: {{ total_payments }}</h3>
    <h3>Total Fees Paid: {{ paid|intcomma }}</h3>
    <h3>Total Payments Routed: {{ total_forwards }}</h3>
    <h3>Total Fees Earned: {{ earned|intcomma }}</h3>
    <h3>Total Node Capacity: {{ capcity|intcomma }}</h3>
    <h3>Total Inbound Liquidity: {{ inbound|intcomma }}</h3>
    <h3>Total Outbound Liquidity: {{ outbound|intcomma }}</h3>
    <br></br>
    <h2>Payments Sent</h2>
    <table>
      <tr>
        <th>Timestamp</th>
        <th width=30%>Hash</th>
        <th>Value</th>
        <th>Fee Paid</th>
        <th>Status</th>
      </tr>
      {% for payment in payments %}
      <tr>
        <td>{{ payment.creation_date|naturaltime }}</td>
        <td>{{ payment.payment_hash }}</td>
        <td>{{ payment.value|intcomma }}</td>
        <td>{{ payment.fee }}</td>
        <td>{% if payment.status == 2 %}Success{% elif payment.status == 1 %}Payment Status=1 (unknown){% else %}Error{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
    <br></br>
    <h2>Payments Routed</h2>
    <table>
      <tr>
        <th>Timestamp</th>
        <th>Channel In</th>
        <th>Channel Out</th>
        <th>Amount In</th>
        <th>Amount Out</th>
        <th>Fees Earned</th>
      </tr>
      {% for forward in forwards %}
      <tr>
        <td>{{ forward.timestamp|naturaltime }}</td>
        <td>{{ forward.chan_id_in }}</td>
        <td>{{ forward.chan_id_out }}</td>
        <td>{{ forward.amt_in|intcomma }}</td>
        <td>{{ forward.amt_out|intcomma }}</td>
        <td>{{ forward.fee_msat }}</td>
      </tr>
      {% endfor %}
    </table>
    <br></br>
    <h2>Active Channels</h2>
    <table>
      <tr>
        <th width=30%>Peer PubKey</th>
        <th>Channel Alias</th>
        <th>Channel ID</th>
        <th>Capacity</th>
        <th>Local Balance</th>
        <th>Remote Balance</th>
        <th>Initiated By Me</th>
      </tr>
      {% for channel in active_channels %}
      <tr>
        <td>{{ channel.remote_pubkey }}</td>
        <td>{{ channel.alias }}</td>
        <td>{{ channel.chan_id }}</td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{{ channel.local_balance|intcomma }}</td>
        <td>{{ channel.remote_balance|intcomma }}</td>
        <td>{{ channel.initiator }}</td>
      </tr>
      {% endfor %}
    </table>
    <br></br>
    <h2>Inactive Channels</h2>
    <table>
      <tr>
        <th width=30%>Peer PubKey</th>
        <th>Channel Alias</th>
        <th>Channel ID</th>
        <th>Capacity</th>
        <th>Local Balance</th>
        <th>Remote Balance</th>
        <th>Initiated By Me</th>
      </tr>
      {% for channel in inactive_channels %}
      <tr>
        <td>{{ channel.remote_pubkey }}</td>
        <td>{{ channel.alias }}</td>
        <td>{{ channel.chan_id }}</td>
        <td>{{ channel.capacity|intcomma }}</td>
        <td>{{ channel.local_balance|intcomma }}</td>
        <td>{{ channel.remote_balance|intcomma }}</td>
        <td>{{ channel.initiator }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
