{% extends "base.html" %}
{% load static %}
{% block title %} {{ block.super }} - P&L{% endblock %}
{% block content %}
<script src="{% static 'charts.js' %}"></script>
{% load humanize %}
<div class="w3-container w3-padding-small">
  <h2>P&L Statement For <a href="{{ graph_links }}/{{ network }}node/{{ node_info.identity_pubkey }}" target="_blank">{% if node_info.alias != "" %}{{ node_info.alias }}</a> ({{ node_info.identity_pubkey }}){% else %}{{ node_info.identity_pubkey }}</a>{% endif %}</h2>
  <canvas id="myChart"></canvas>
  <script>
    const ctx = document.getElementById('myChart');
function toString(date){
  return `${date.getDate()}/${date.getMonth()}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`
}
const data = {
  labels: [{% for date in chart.dates %}toString(new Date("{{date}}")){% if not forloop.last %},{% endif %}{% endfor %}],
  datasets: [
    {
      label: 'Balance',
      yAxisID: 'y',
      fill: true,
      pointHoverRadius: 10,
      backgroundColor: 'rgba(251, 192, 147, 0.2)',
      borderColor: 'rgba(251, 192, 147, 0.5)',
      cubicInterpolationMode: 'monotone',
      data: [{% for balance in chart.balance_over_time %}{{balance}}{% if not forloop.last %},{% endif %}{% endfor %}]
    },
    {
      label: 'On chain',
      fill: false,
      pointHoverRadius: 10,
      borderColor: 'orange',
      cubicInterpolationMode: 'monotone',
      data: [{% for onchain in chart.on_chain %}{{onchain}}{% if not forloop.last %},{% endif %}{% endfor %}]
    },
    {
      label: 'Off chain',
      fill: true,
      pointHoverRadius: 10,
      borderColor: 'rgba(33,150,243)',
      backgroundColor: 'rgba(33,150,243,.2)',
      cubicInterpolationMode: 'monotone',
      data: [{% for offchain in chart.off_chain %}{{offchain}}{% if not forloop.last %},{% endif %}{% endfor %}],
    },
    {
      label: 'Costs',
      yAxisID: 'y1',
      fill: true,
      pointHoverRadius: 10,
      borderColor: 'rgba(248,81,73)',
      backgroundColor: 'rgba(248,81,73,0.15)',
      cubicInterpolationMode: 'monotone',
      data: [{% for costs in chart.costs %}{{costs}}{% if not forloop.last %},{% endif %}{% endfor %}],
    }
  ]
};

const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Profitablity Overview'
      },
    },
    interaction: {
      mode: 'index',
      intersect: false
    },
    scales: {
      x: {
        display: true
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'sats'
        }
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',
        title: {
          display: true,
          text: 'Cost'
        },
        // grid line settings
        grid: {
          drawOnChartArea: false, // only want the grid lines for one axis to show up
        },
      },
    }
  },
};
const chart = new Chart(ctx, config)
document.addEventListener("DOMContentLoaded", function(){
  document.getElementById('toogleTheme').addEventListener('click', applyThemeToGrid)
});
function applyThemeToGrid(){
  const lightGridLineColor = 'rgba(0,0,0,0.1)';
  const darkGridLineColor = 'rgba(255,255,255,0.1)'
  if (document.body.classList.contains("dark-mode")) {
    chart.options.scales.x.grid.color = darkGridLineColor;
    chart.options.scales.y.grid.color = darkGridLineColor
  } else {
    chart.options.scales.x.grid.color = lightGridLineColor;
    chart.options.scales.y.grid.color = lightGridLineColor
  }

  chart.update();
}
window.addEventListener("load", applyThemeToGrid);
  </script>
  <hr/>
  <br/>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Line Item</th>
      <th>1 Day</th>
      <th>7 Day</th>
      <th>30 Day</th>
      <th>90 Day</th>
      <th>Lifetime</th>
    </tr>
    <tr>
      <td>Payments Routed</td>
      <td>{{ forward_count_1day|intcomma }}</td>
      <td>{{ forward_count_7day|intcomma }}</td>
      <td>{{ forward_count_30day|intcomma }}</td>
      <td>{{ forward_count_90day|intcomma }}</td>
      <td>{{ forward_count|intcomma }}</td>
    </tr>
    <tr>
      <td>Value Routed</td>
      <td>{{ forward_amount_1day|intcomma }}</td>
      <td>{{ forward_amount_7day|intcomma }}</td>
      <td>{{ forward_amount_30day|intcomma }}</td>
      <td>{{ forward_amount_90day|intcomma }}</td>
      <td>{{ forward_amount|intcomma }}</td>
    </tr>
    <tr>
      <td>Revenue Earned</td>
      <td>{{ total_revenue_1day|intcomma }} [{{ total_revenue_ppm_1day|intcomma }}]</td>
      <td>{{ total_revenue_7day|intcomma }} [{{ total_revenue_ppm_7day|intcomma }}]</td>
      <td>{{ total_revenue_30day|intcomma }} [{{ total_revenue_ppm_30day|intcomma }}]</td>
      <td>{{ total_revenue_90day|intcomma }} [{{ total_revenue_ppm_90day|intcomma }}]</td>
      <td>{{ total_revenue|intcomma }} [{{ total_revenue_ppm|intcomma }}]</td>
    </tr>
    <tr>
      <td>Onchain Costs</td>
      <td>{{ onchain_costs_1day|intcomma }}</td>
      <td>{{ onchain_costs_7day|intcomma }}</td>
      <td>{{ onchain_costs_30day|intcomma }}</td>
      <td>{{ onchain_costs_90day|intcomma }}</td>
      <td>{{ onchain_costs|intcomma }}</td>
    </tr>
    <tr>
      <td>Offchain Costs</td>
      <td>{{ total_fees_1day|intcomma }} [{{ total_fees_ppm_1day }}]</td>
      <td>{{ total_fees_7day|intcomma }} [{{ total_fees_ppm_7day }}]</td>
      <td>{{ total_fees_30day|intcomma }} [{{ total_fees_ppm_30day }}]</td>
      <td>{{ total_fees_90day|intcomma }} [{{ total_fees_ppm_90day }}]</td>
      <td>{{ total_fees|intcomma }} [{{ total_fees_ppm }}]</td>
    </tr>
    <tr>
      <td>Percent Cost</td>
      <td>{{ percent_cost_1day|intcomma }}%</td>
      <td>{{ percent_cost_7day|intcomma }}%</td>
      <td>{{ percent_cost_30day|intcomma }}%</td>
      <td>{{ percent_cost_90day|intcomma }}%</td>
      <td>{{ percent_cost|intcomma }}%</td>
    </tr>
    <tr>
      <td>Profits</td>
      <td>{{ profits_1day|intcomma }} [{{ profits_ppm_1day }}]</td>
      <td>{{ profits_7day|intcomma }} [{{ profits_ppm_7day }}]</td>
      <td>{{ profits_30day|intcomma }} [{{ profits_ppm_30day }}]</td>
      <td>{{ profits_90day|intcomma }} [{{ profits_ppm_90day }}]</td>
      <td>{{ profits|intcomma }} [{{ profits_ppm }}]</td>
    </tr>
  </table>
</div>
{% endblock %}