{% extends "base.html" %}
{% block title %} {{ block.super }} - Keysends{% endblock %}
{% block content %}
{% load humanize %}
{% if keysends %}
<div class="w3-container w3-padding-small">
  <h2>Received Keysends</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Settle Date</th>
      <th>Channel In Alias</th>
      <th>Amount</th>
      <th>Message</th>
    </tr>
    {% for keysend in keysends %}
    <tr>
      <td title="{{ keysend.r_hash }}">{{ keysend.settle_date|naturaltime }}</td>
      <td>{{ keysend.chan_in_alias }}</td>
      <td>{{ keysend.amt_paid|intcomma }}</td>
      <td>{{ keysend.message }}{% if sender != None %} | Signed By: {{ keysend.sender }}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not keysends %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any keysend messages here yet!</h1></center>
</div>
{% endif %}
{% endblock %}