<div class="w3-container w3-padding-small">
    <form action="/autorebalance/" method="post">
      {% csrf_token %}
    <h2>{% if url %}<a href='/{{url}}' target='_blank'>{{title}}</a>{% else %}{{title}}{% endif %} settings</h2>
    <div class="w3-container">
      <div class="w3-row-padding w3-container">
        {% for setting in settings|slice:"1:" %}
        <div class="w3-quarter w3-container">
          <label class="w3-label" title="{{ setting.title }}">{{ setting.label }}</label>
          <input class="w3-input" id="{{setting.form_id}}" name="{{setting.form_id}}" {% if setting.min %}min="{{setting.min}}" step="{{setting.min}}"{% endif %} {% if setting.max %}max="{{setting.max}}" type="number"{% endif %} value="{{setting.value}}"/>
        </div>
        {% endfor %}
        <div class="w3-quarter w3-container">
          {% if 'update_channels' in settings.0.form_id %}
          <input class="w3-check w3-margin-top" id="update_channels" type="checkbox" name="update_channels"/>
          <label class="w3-validate">Update Channels</label>
          <input class="w3-button w3-margin-left" type="submit" value="OK">
          {% else %}
          <input class="w3-button w3-margin-top" type="submit" value="OK">
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>