{% extends "base.html" %}
{% block content %}
{% load humanize %}
{% if open_list %}
<div class="w3-container w3-padding-small">
  <h2>Suggested Open List</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Node Pubkey</th>
      <th width=15%>Node Alias</th>
      <th width=15%>Successful Payments Routed</th>
      <th width=12%>Amount Routed</th>
      <th width=12%>Fees Paid</th>
      <th width=12%>Effective PPM</th>
      <th width=12%>Volume Score</th>
      <th width=12%>Savings By Volume</th>
    </tr>
    {% for node in open_list %}
    <tr>
      <td>{{ node.node_pubkey }}</td>
      <td>{{ node.alias }}</td>
      <td>{{ node.count }}</td>
      <td>{{ node.amount|add:"0"|intcomma }}</td>
      <td>{{ node.fees|add:"0"|intcomma }}</td>
      <td>{{ node.ppm|add:"0"|intcomma }}</td>
      <td>{{ node.score }}</td>
      <td>{{ node.sum_cost_to|add:"0"|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}