{% extends "base.html" %}
{% block title %} {{ block.super }} - Payments{% endblock %}
{% block content %}
{% load humanize %}
{% if payments %}
<div class="w3-container w3-padding-small">
  <h2>Last 150 Payments</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Timestamp</th>
      <th width=28%>Hash</th>
      <th width=6%>Value</th>
      <th width=6%>Fee Paid</th>
      <th width=6%>PPM Paid</th>
      <th width=6%>Status</th>
      <th width=12%>Chan Out Alias</th>
      <th width=12%>Chan Out ID</th>
      <th width=4%>Route</th>
      <th width=6%>Keysend</th>
    </tr>
    {% for payment in payments %}
    <tr>
      <td title="{{ payment.creation_date }}">{{ payment.creation_date|naturaltime }}</td>
      <td><a href="/route?={{ payment.payment_hash }}" target="_blank">{{ payment.payment_hash }}</td>
      <td>{{ payment.value|add:"0"|intcomma }}</td>
      <td>{{ payment.fee|intcomma }}</td>
      <td>{{ payment.ppm|intcomma }}</td>
      <td>{% if payment.status == 1 %}In-Flight{% elif payment.status == 2 %}Succeeded{% elif payment.status == 3 %}Failed{% else %}{{ payment.status }}{% endif %}</td>
      <td>{% if payment.status == 2 %}{% if payment.chan_out_alias == '' %}---{% else %}{{ payment.chan_out_alias }}{% endif %}{% else %}---{% endif %}</td>
      <td>{% if payment.status == 2 %}<a href="/channel?={{ payment.chan_out }}" target="_blank">{{ payment.chan_out }}</a>{% else %}---{% endif %}</td>
      <td>{% if payment.status == 2 %}<a href="/route?={{ payment.payment_hash }}" target="_blank">Open</a>{% else %}---{% endif %}</td>
      <td title="{{ payment.message }}">{% if payment.keysend_preimage != None %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not payments %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any payments yet.</h1></center>
</div>
{% endif %}
{% endblock %}
