{% extends "base.html" %}
{% block title %} {{ block.super }} - Peers{% endblock %}
{% block content %}
{% load humanize %}
{% if peers %}
<div class="w3-container w3-padding-small">
  <h2>Peers List ({{ num_peers }})</h2>
  <table id="peersTable" class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th onclick="sortTable(0, 'String', 'peersTable')" width=40%>Peer PubKey</th>
      <th onclick="sortTable(1, 'String', 'peersTable')">Peer Alias</th>
      <th onclick="sortTable(2, 'String', 'peersTable')">Network Address</th>
      <th onclick="sortTable(3, 'String', 'peersTable')">Inbound</th>
      <th onclick="sortTable(4, 'int', 'peersTable')">Sats Sent</th>
      <th onclick="sortTable(5, 'int', 'peersTable')">Sats Received</th>
    </tr>
    {% for peer in peers %}
    <tr>
      <td><a href="{{ graph_links }}/{{ network }}node/{{ peer.pubkey }}" target="_blank">{{ peer.pubkey }}</a></td>
      <td>{% if peer.alias != '' %}{{ peer.alias }}{% else %}---{% endif %}</td>
      <td>{{ peer.address }}</td>
      <td>{{ peer.inbound }}</td>
      <td>{{ peer.sat_sent|intcomma }}</td>
      <td>{{ peer.sat_recv|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not peers %}
<div class="w3-container w3-padding-small">
  <center><h1>No connected peers found!</h1></center>
</div>
{% endif %}
{% endblock %}