{% extends "base.html" %}
{% block title %} {{ block.super }} - HTLCs{% endblock %}
{% block content %}
{% load humanize %}
{% if outgoing_htlcs %}
<div class="w3-container w3-padding-small">
  <h2>Outgoing HTLCs</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th width=10%>Channel Alias</th>
      <th>Forwarding Channel</th>
      <th width=10%>Forwarding Alias</th>
      <th>Amount</th>
      <th>Expiration Height</th>
      <th width=25%>Hash Lock</th>
    </tr>
    {% for htlc in outgoing_htlcs %}
    <tr>
      <td>{{ htlc.chan_id }}</td>
      <td>{% if htlc.alias == '' %}---{% else %}{{ htlc.alias }}{% endif %}</td>
      <td>{{ htlc.forwarding_channel }}</td>
      <td>{% if htlc.forwarding_alias == '' %}---{% else %}{{ htlc.forwarding_alias }}{% endif %}</td>
      <td>{{ htlc.amount|intcomma }}</td>
      <td>{{ htlc.expiration_height|intcomma }}</td>
      <td>{{ htlc.hash_lock }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if incoming_htlcs %}
<div class="w3-container w3-padding-small">
  <h2>Incoming HTLCs</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th width=10%>Channel Alias</th>
      <th>Forwarding Channel</th>
      <th width=10%>Forwarding Alias</th>
      <th>Amount</th>
      <th>Expiration Height</th>
      <th width=25%>Hash Lock</th>
    </tr>
    {% for htlc in incoming_htlcs %}
    <tr>
      <td>{{ htlc.chan_id }}</td>
      <td>{% if htlc.alias == '' %}---{% else %}{{ htlc.alias }}{% endif %}</td>
      <td>{{ htlc.forwarding_channel }}</td>
      <td>{% if htlc.forwarding_alias == '' %}---{% else %}{{ htlc.forwarding_alias }}{% endif %}</td>
      <td>{{ htlc.amount|intcomma }}</td>
      <td>{{ htlc.expiration_height|intcomma }}</td>
      <td>{{ htlc.hash_lock }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not outgoing_htlcs and not incoming_htlcs %}
<div class="w3-container w3-padding-small">
  <center><h1>No pending HTLCs were found!</h1></center>
</div>
{% endif %}
{% endblock %}