{% load humanize %}
<div class="w3-container w3-padding-small">
    <h2>{{title}}</h2>
    <table class="w3-table-all w3-centered w3-hoverable">
      <tr>
        <th>Requested</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Scheduled Duration</th>
        <th>Actual Duration</th>
        <th>Value</th>
        <th>Fee Limit</th>
        <th>Target PPM</th>
        <th>Fees Paid</th>
        <th>Last Hop Alias</th>
        <th>Status</th>
        <th>Hash</th>
        <th>Action</th>
      </tr>
      {% for rebalance in rebalances %}
      <tr>
        <td title="{{ rebalance.requested }}">{{ rebalance.requested|naturaltime }}</td>
        <td {% if rebalance.status == 0 %}>---{% else %}title="{{ rebalance.start }}">{{ rebalance.start|naturaltime }}{% endif %}</td>
        <td {% if rebalance.status > 1 %}title="{{ rebalance.stop }}">{{ rebalance.stop|naturaltime }}{% else %}>---{% endif %}</td>
        <td>{{ rebalance.duration }} minutes</td>
        <td>{% if rebalance.status == 2 %}{{ rebalance.stop|timeuntil:rebalance.start }}{% else %}---{% endif %}</td>
        <td>{{ rebalance.value|intcomma }}</td>
        <td>{{ rebalance.fee_limit|intcomma }}</td>
        <td>{{ rebalance.ppm|intcomma }}</td>
        <td>{% if rebalance.status == 2 %}{{ rebalance.fees_paid|intcomma }}{% else %}---{% endif %}</td>
        <td>{% if rebalance.target_alias == '' %}---{% else %}{{ rebalance.target_alias }}{% endif %}</td>
        <td title="{{ rebalance.status }}">
          {% with arr='Pending In-Flight Successful Timeout No-Route Error Incorrect-Payment-Details Insufficient-Balance Rebalancer-Request-Failed Rebalancer-Request-Timeout Cancelled'  %}
            {% if rebalance.status == 2 %}<a href="/route?={{ rebalance.payment_hash }}" target="_blank">Successful</a>
            {% else %}
              {% for status in arr.split %}
                {% if forloop.counter0 == rebalance.status %}{{status}}{% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        <td>{% if rebalance.payment_hash|default:'' == '' %}---{% else %}<a href="/route?={{ rebalance.payment_hash }}" target="_blank">{{ rebalance.payment_hash|slice:"7" }}</a>{% endif %}</td>
        <td>
          <div class="w3-cell-row">
            <form class="w3-cell w3-padding-small" method="POST" action="/{% if rebalance.status != 0 %}repeat{% else %}cancel{%endif%}_rebalance/">
              {% csrf_token %}<input hidden name="requested" value="{{rebalance.requested}}"/><input type="submit" {% if rebalance.status != 0 %}title="Repeat this request" value="🔂" {% else %}title="Cancel this request" value="❌"{% endif %}></input>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>