{% extends "base.html" %}
{% block title %} {{ block.super }} - Rebalancing{% endblock %}
{% block content %}
{% load humanize %}
{% if channels %}
<div class="w3-container w3-padding-small">
  <h2>Channel Rebalancing (currently scheduling {{ eligible_count }} of {{ enabled_count }} enabled channels for rebalancing via {{ available_count }} outbound channels)</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table class="w3-table-all w3-centered w3-hoverable">
        <tr>
            <th>Channel ID</th>
            <th>Peer Alias</th>
            <th>Outbound Liquidity</th>
            <th width=10%>Capacity</th>
            <th>Inbound Liquidity</th>
            <th>Rebal</th>
            <th title="This ratio must be below the channel's Max Cost %.">Fee Ratio</th>
            <th title="When AR is ENABLED for the channel, the size of the rebalance attempts that should be tried during attempts to refill the channel.">Target Amt</th>
            <th title="When AR is ENABLED, the maximum percentage amount of the local fee rate that can be used for the max rebalancing cost.">Max Cost %</th>
            <th title="When AR is NOT ENABLED for the channel, keep pushing OUT the channel until its outbound liquidity falls below the oTarget%.">oTarget%</th>
            <th title="When AR is ENABLED for the channel, keep pulling IN the channel until its inbound liquidity is above the iTarget%.">iTarget%</th>
            <th>AR</th>
            <th title="The rate of successful rebalances on this channel.">7-Day Rate</th>
            <th>Active</th>
            <th title="Select outbound channel for a manual rebalance request">Out</th>
            <th width="5%" title="Remote (peer) public key">PK</th>
        </tr>
      {% for channel in channels %}
      <tr>
        <td title="{{ channel.funding_txid }}:{{ channel.output_index }}"><a href="/channel?={{ channel.chan_id }}" target="_blank">{{ channel.chan_id }}</a></td>
        <td title="{{ channel.remote_pubkey }}"><a href="{{ graph_links }}/{{ network }}node/{{ channel.remote_pubkey }}" target="_blank">{% if channel.alias == '' %}{{ channel.remote_pubkey|slice:":12" }}{% else %}{{ channel.alias }}{% endif %}</a></td>
        <td><small>{{ channel.local_balance|intcomma }} ({{ channel.percent_outbound }}%)</small></td>
        <td><div class="w3-orange w3-round"><div style="z-index:1;position:absolute;display:flex;justify-content:center;width:9%;">{{ channel.capacity|intcomma }}</div><div class="w3-container w3-round w3-blue" style="height:25px;{% if channel.percent_outbound > 0 %}width:{{ channel.percent_outbound|intcomma }}%{% else %}visibility:hidden{% endif %}"></div></div></td>
        <td><small>{{ channel.remote_balance|intcomma }} ({{ channel.percent_inbound }}%)</small></td>
          {% if channel.auto_rebalance == False %}
          <td {% if channel.percent_outbound >= channel.ar_out_target %}
                style="background-color: #a6dce2" 
              {% else %}
                style="background-color: #fadbd5"
              {% endif %}"> Out
          </td>
          {% else %}  
            <td title="Steps: {{ channel.steps }}" {% if channel.inbound_can >= 1 and channel.fee_check < 100 %}
              style="background-color: #a6dce2"  
            {% else %}
              style="background-color: #fadbd5"
            {% endif %}"> In 
          </td>
        {% endif %}
        <td {% if channel.fee_check < 100 %}style="background-color: #a6dce2">{{ channel.fee_ratio }}%{% else %}style="background-color: #fadbd5">{{ channel.fee_ratio }}%{% endif %}</td>
        <td>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100000000" name="target" value="{{ channel.ar_amt_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="2">
          </form>
        </td>
        <td>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100" name="target" value="{{ channel.ar_max_cost }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="6">
          </form>
        </td>
        <td {% if channel.auto_rebalance == False %}style="background-color: #a6dce2"{% else %}style="background-color: #fadbd5"{% endif %}>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100" name="target" value="{{ channel.ar_out_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="4">
          </form>
        </td>
        <td {% if channel.auto_rebalance == True %}style="background-color: #a6dce2"{% else %}style="background-color: #fadbd5"{% endif %}>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input style="text-align:center" id="target" type="number" min="0" max="100" name="target" value="{{ channel.ar_in_target }}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="3">
          </form>
        </td>
        <td {% if channel.auto_rebalance == True %}style="background-color: #a6dce2"{% else %}style="background-color: #fadbd5"{% endif %}>
          <form action="/update_channel/" method="post">
            {% csrf_token %}
            <input type="submit" value="{% if channel.auto_rebalance == True %}Disable{% else %}Enable{% endif %}">
            <input type="hidden" name="chan_id" value="{{ channel.chan_id }}">
            <input type="hidden" name="update_target" value="5">
            <input type="hidden" name="target" value="0">
          </form>
        </td>
        <td>{% if channel.attempts == 0 %}---{% else %} {{ channel.success }}/{{ channel.attempts }} ({{ channel.success_rate }}%){% endif %}</td>
        <td title="{% if channel.is_active == True %}Uptime: {{ channel.last_update|naturaltime|slice:":-4" }}{% else %}Downtime: {{ channel.last_update|naturaltime|slice:":-4" }}{% endif %}" {% if channel.is_active  == True %}style="background-color: #a6dce2">True{% else %}style="background-color: #fadbd5">False{% endif %}</td>
        <td><input value="{{channel.chan_id}}" id="outgoing_chan_ids_{{forloop.counter0}}" name="outgoing_chan_ids" class="w3-check" type="checkbox"></td>
        <td><input type="button" class="w3-btn w3-hover-blue" onclick="navigator.clipboard.writeText('{{channel.remote_pubkey}}')" value="Copy"/></td>
      </tr>
      {% endfor %}
      </table>
    </div>
    <br/>
    <h3>Manual rebalance request options: </h3>
    <div class="w3-row-padding">
      <div class="w3-col" style="width:10%">
        <label class="w3-label" for="duration">Run Time (min): </label>
        <input class="w3-input" id="duration" type="number" name="duration">
      </div>
      <div class="w3-col" style="width:10%">
        <label class="w3-label" for="value">Amount (sats): </label>
        <input class="w3-input" id="value" type="number" min="10" max="5000000" name="value">
      </div>
      <div class="w3-col" style="width:10%">
        <label class="w3-label" for="fee_limit">Fee Limit (ppm): </label>
        <input  class="w3-input" id="fee_limit" type="number" min="1" max="2500" name="fee_limit">
      </div>
      <div class="w3-col" style="width:60%">
        <label class="w3-label" for="last_hop_pubkey">Last Hop Pubkey: </label>
        <input class="w3-input" id="last_hop_pubkey" type="text" name="last_hop_pubkey">
      </div>
      <div class="w3-col" style="width:10%">
        <input class="w3-btn large" type="submit" value="OK">
      </div>
    </div>
  </form>
</div>
{% else %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to rebalance yet.</h1></center>
</div>
{% endif %}
{% if rebalancer %}
<div class="w3-container w3-padding-small">
  <h2>Last 20 <a href="/rebalances" target="_blank">Rebalance Requests</a></h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Requested</th>
      <th>Started</th>
      <th>Stopped</th>
      <th>Scheduled Duration</th>
      <th>Actual Duration</th>
      <th>Value</th>
      <th>Fee Limit</th>
      <th>Target PPM</th>
      <th>Fees Paid</th>
      <th>Last Hop Alias</th>
      <th>Status</th>
    </tr>
    {% for rebalance in rebalancer %}
    <tr>
      <td title="{{ rebalance.requested }}">{{ rebalance.requested|naturaltime }}</td>
      <td {% if rebalance.status == 0 %}>---{% else %}title="{{ rebalance.start }}">{{ rebalance.start|naturaltime }}{% endif %}</td>
      <td {% if rebalance.status > 1 %}title="{{ rebalance.stop }}">{{ rebalance.stop|naturaltime }}{% else %}>---{% endif %}</td>
      <td>{{ rebalance.duration }} minutes</td>
      <td>{% if rebalance.status == 2 %}{{ rebalance.stop|timeuntil:rebalance.start }}{% else %}---{% endif %}</td>
      <td>{{ rebalance.value|intcomma }}</td>
      <td>{{ rebalance.fee_limit|intcomma }}</td>
      <td>{{ rebalance.ppm|intcomma }}</td>
      <td>{% if rebalance.status == 2 %}{{ rebalance.fees_paid|intcomma }}{% else %}---{% endif %}</td>
      <td>{% if rebalance.target_alias == '' %}None Specified{% else %}{{ rebalance.target_alias }}{% endif %}</td>
      <td title="{{ rebalance.status }}">{% if rebalance.status == 0 %}Pending{% elif rebalance.status == 1 %}In-Flight{% elif rebalance.status == 2 %}<a href="/route?={{ rebalance.payment_hash }}" target="_blank">Successful</a>{% elif rebalance.status == 3 %}Timeout{% elif rebalance.status == 4 %}No Route{% elif rebalance.status == 5 %}Error{% elif rebalance.status == 6 %}Incorrect Payment Details{% elif rebalance.status == 7 %}Insufficient Balance{% elif rebalance.status == 400 %}Rebalancer Request Failed{% elif rebalance.status == 408 %}Rebalancer Request Timeout{% else %}{{ rebalance.status }}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% if not rebalancer %}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any rebalancer requests yet.</h1></center>
</div>
{% endif %}
{% if local_settings %}
<div class="w3-container w3-padding-small">
  <form action="/autorebalance/" method="post">
    {% csrf_token %}
  <h2>Auto-Rebalancer Settings</h2>
  <div class="w3-container">
    <div class="w3-row-padding w3-container">
      {% for settings in local_settings %}
      <div class="w3-quarter w3-container">
        <label class="w3-label" title="{{ settings.title }}">{{ settings.label }}</label>
        <input class="w3-input" id="{{settings.id}}" name="{{settings.id}}" type="number" min="{{settings.min}}" max="{{settings.max}}" step="{{settings.min}}" value="{{settings.value|intcomma}}"/>
      </div>
      {% endfor %}
      <div class="w3-quarter w3-container">
        <input class="w3-check" id="targetallchannels" type="checkbox" name="targetallchannels"/>
        <label class="w3-validate">Target All Channels </label>
        <input class="w3-btn" type="submit" value="OK">
      </div>
    </div>
  </div>
  </form>
</div>
{% endif %}
{% endblock %}
