{% load humanize %}
<div id="rebalances_div_{{count}}" class="w3-container w3-padding-small">
    <h2>Last {{count}} {{title}}</h2>
    <table class="w3-table-all w3-centered w3-hoverable">
      <tbody id="rebalances_{{count}}">
        <tr>
          <th>Requested</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Scheduled Duration</th>
          <th>Actual Duration</th>
          <th>Value</th>
          <th>Fee Limit</th>
          <th>Target PPM</th>
          <th>Fees Paid</th>
          <th>Last Hop Alias</th>
          <th>Status</th>
          <th>Hash</th>
          <th>Action</th>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    statuses = [{code: 0, value: 'Pending'}, {code: 1, value: 'In-Flight'}, {code: 2, value: 'Successful'}, {code: 3, value: 'Timeout'}, {code: 4, value: 'No-Route'}, {code: 5, value: 'Error'}, {code: 6, value: 'Incorrect-Payment-Details'}, {code: 7, value: 'Insufficient-Balance'}, {code: 8, value: 'Rebalancer-Request-Failed'}, {code: 9, value: 'Rebalancer-Request-Timeout'}, {code: 499, value: 'Cancelled'}]
    transformations = {
      'requested': rebalance => ({title: rebalance.requested, innerHTML: rebalance.requested}),
      'start': rebalance => ({title: rebalance?.start || '---', innerHTML: rebalance.start}),
      'stop': rebalance => ({title: rebalance?.stop || '---', innerHTML: rebalance?.stop || '---'}),
      'duration': rebalance => ({innerHTML: rebalance.duration + ' minutes'}),
      'elapsed': rebalance => ({innerHTML: rebalance.elapsed > 0 ? Math.floor(rebalance.elapsed) + ' minutes' : '---'}),
      'value': rebalance => ({innerHTML: rebalance.value}),
      'fee_limit': rebalance => ({innerHTML: Number(rebalance.fee_limit).toLocaleString()}),
      'ppm': rebalance => ({innerHTML: Number(rebalance.ppm).toLocaleString()}),
      'fees_paid': rebalance => ({innerHTML: rebalance.status == 2 ? Number(rebalance.fees_paid).toLocaleString() : '---'}),
      'target_alias': rebalance => ({innerHTML: rebalance.target_alias !== '' ? rebalance.target_alias : '---'}),
      'status': rebalance => ({title: rebalance.status, innerHTML: statuses.find(status => status.code == rebalance.status ).value}),
      'payment_hash': rebalance => ({innerHTML: (rebalance.payment_hash || '').length == 0 ? '---' :
           `<a href="/route?=${rebalance.payment_hash}" target="_blank">${rebalance.payment_hash.substring(0,7)}</a>`}),
      'id': rebalance => {
        const form = document.createElement("form")
        form.method = "GET"
        input = document.createElement("input")
        input.style.display = "none"
        input.value = rebalance.id
        input.name = "id"

        form.append(input)
        input = document.createElement("input")
        input.type = "submit"
        if (rebalance.status != 0 ){
          form.action = `/rebalance/repeat`
          input.title="Repeat this request" 
          input.value = "🔂"
        }
        else {
          form.action = `/rebalance/cancel`
          input.title="Cancel this request" 
          input.value = "❌"
        }
        form.append(input)
        return {innerHTML: form}
      } 
    };
    document.addEventListener('DOMContentLoaded', async () => {
      const response = await fetch('/api/rebalances?count={{count}}&status={{status}}&payment_hash={{payment_hash}}')
      const result = await response.json()
      if(!result.success) {
        document.getElementById("rebalances_div_{{count}}").innerHTML = `<h1 class="w3-orange w3-padding-small" style="word-wrap: break-word">${result.error}</h1>`
      }
      if (result['rebalances'].length == 0){
        type = statuses.find(sts => sts.code == '{{status}}')?.value
        document.getElementById("rebalances_div_{{count}}").innerHTML = `<center><h1>You dont have any ${type} rebalances yet.</h1></center>`
        return;
      }

      const table = document.getElementById("rebalances_{{count}}")
      let ids = Object.keys(result['rebalances'][0])
      ids.push(ids.shift())
      result['rebalances'].forEach(rebalance => {
        const tr = document.createElement("tr")
        ids.forEach(id => {
          const td = document.createElement("td")

          const transformation = transformations[id]
          const transformed = transformation(rebalance)
          for(key in transformed){
            const value = transformed[key]
            if(value instanceof HTMLElement){
              td.append(value)
            }
            else{
              td[key] = transformed[key]
            }
            tr.append(td)
          }
        });
        table.append(tr)
      });
    });
  </script>
