{% extends "base.html" %}
{% block title %} {{ block.super }} - Tower{% endblock %}
{% block content %}
{% load humanize %}
{% if tower %}
<div class="w3-container w3-padding-small">
  <h2>Details For Wacth Tower: {{ pubkey }}</h2>
  <h4>Addresses: {% for address in tower.addresses %}{{ address }} | {% endfor %}</h4>
  <h4>Active Candidate: {{ tower.active_session_candidate }} | Number Of Sessions: {{ tower.num_sessions|intcomma }}</h4>
  {% if tower.sessions %}
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Total Backups</th>
      <th>Pending Backups</th>
      <th>Failed Backups</th>
      <th>Sessions Acquired</th>
      <th>Sessions Exhausted</th>
    </tr>
    {% for session in tower.sessions %}
    <tr>
      <td>{{ session.num_backups|intcomma }}</td>
      <td>{{ session.num_pending_backups|intcomma }}</td>
      <td>{{ session.max_backups|intcomma }}</td>
      <td>{{ session.sweep_sat_per_byte|intcomma }}</td>
      <td>{{ session.sweep_sat_per_vbyte|intcomma }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h4>No session data was found.</h4>
  {% endif %}
</div>
{% else %}
<div class="w3-container w3-padding-small">
  <center><h1>No tower was found for this pubkey!</h1></center>
</div>
{% endif %}
{% endblock %}