@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5.3% 26.1%;
    --card: 0 0% 98%;
    --card-foreground: 240 5.3% 26.1%;
    --popover: 0 0% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 211 66% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 95%;
    --muted-foreground: 240 5.3% 26.1%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
    --chart-1: 211 66% 30%;
    --chart-2: 134.6 40.2% 43.9%;
    --chart-3: 4.11 68.2% 42%;
    --chart-4: 22.05 100% 54.12%;
    --chart-5: 279 35.06% 48.61%;
    --chart-6: 0 0% 40.4%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 5.9% 5%;
    --foreground: 240 4.8% 95.9%;
    --card: 240 5.9% 10%;
    --card-foreground: 240 4.8% 95.9%;
    --popover: 240 5.9% 6%;
    --popover-foreground: 240 4.8% 95.9%;
    --primary: 211 66% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 5.9% 17.5%;
    --muted-foreground: 240 4.8% 75.9%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 211 66% 50%;
    --chart-2: 134.6 40.2% 53.9%;
    --chart-3: 4.11 68.2% 52%;
    --chart-4: 22.05 78% 50.12%;
    --chart-5: 279 35.06% 58.61%;
    --chart-6: 0 0% 60.4%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
